@import 'mixins.styl'

$footer__margin-top = 60px; // Растояние от блока с контентом до футера
$footer__bg =  #DFDBE5
//$footer__color = 
//$footer__links__color = lighten($footer__color, 25)

.footer
	margin-top 80px
	padding-bottom 20px
	font-size  0.8rem
	text-align center
	// &, a
	// 	color $footer__color