.footer
	display: flex
	gap: 16px
	justify-content: center
	margin-top: 80px
	padding: 40px 0
	font-size: $font-size-sm
	border-top: 1px solid $sd-color__palette-gray-100


.footer__item
	display: block