.footer
	margin-top: 80px
	margin-bottom: 40px
	font-size: 0.8rem
	&__heading
		border-top: 1px solid $sd-color__palette-gray-100
		margin-top: 0
		padding-top: 24px

.contacts
	display: flex
	align-items: center
	flex-wrap: wrap
	gap: 16px

.contacts__links // ul
	display: flex
	flex-wrap: wrap
	flex: 1 1 auto;
	gap: 16px
	margin 0
	padding: 0

.contacts__item
	display: block

.contacts__copyrights
	display: flex
	gap: 16px