@use "../variables" as *
@use "../mixins" as *
$header__color: #333

.header
	margin: 16px 0

// Строка с навигацией и названием сайта
.nav
	display: flex
	gap: 24px
	
	// Адаптивное
	flex-direction: column
	align-items: center // выравнивает navbar-header по вертикали
	//padding 1rem
	@include media(md)
		flex-direction: row
		justify-content: space-between
		//padding 0 ($grid-gutter-width-base / 2)
	

			

.logo
	display: flex
	align-items: center
	gap: 12px	



//$item__bg--active: #FEE076
$item__bg--hover: $sd-color__palette-beige-75
$link__color: $header__color !important

.menu // ul	
	margin: 0
	padding: 0
	list-style: none

	// Adaptive
	display: flex
	width: 100%
	@include media(md)
		margin-top: 0
	@include media(lg)
		width: unset

	&__item
		flex-grow: 1
		justify-content: center
		@include media(lg)
			flex-grow: 0

	&__link
		justify-content: center
		width: 100%
		height: 100%
		padding: 8px 12px
		white-space: nowrap
		text-align: center
		transition: background 0.15s
		color: $link__color
		line-height: 1.5
		border-radius: $radius--S
		text-decoration: underline
		text-decoration-thickness: 1.2px
		text-decoration-color: $sd-color__palette-gray-200
		text-underline-offset: 3px

		&:hover,
		&.--active
			background-color: $item__bg--hover
			text-decoration-color: $sd-color__palette-beige-300