html
body
	overflow-x: hidden

html
	box-sizing: border-box

*
*::before
*::after
	box-sizing: inherit

body
	margin: 0
	background $sd-color__palette-neutral-white
	// Sticky Footer
	min-height: 100vh
	display: grid
	grid-template-rows: auto 1fr auto

.main
	padding-top 60px


::selection
	background: $sd-color__palette-blue-100
	text-shadow: none


make-container()
	position relative
	margin-right auto
	margin-left auto
	padding-left ($grid-gutter-width-base / 2)
	padding-right ($grid-gutter-width-base / 2)
	
make-container-width()
	for $w1, $w2 in $breakpoints-and-widths
		@media (min-width: unquote($w1))
			width: $w2
			
			
// Fixed
/*.container
	make-container()
	max-width 100%
	width 100%
	make-container-width()*/

// Fluid
.container
	make-container()
	// Поиск ширины у последнего брейкпоинта
	for $w1, $w2 in $breakpoints-and-widths
		$list =  $w2
	width 100%
	max-width $list
	//max-width 100%	