// ====================
// Colors
// ====================

@import "foundation/variables__color-sets.styl"

$brand-1 = #9C27B0
$brand-2 = $color_blue-gray--8
$brand-3 = $color_blue-gray--6



// Type
$link-color = #0064d6
$link-color--hover = desaturate(lighten($link-color, 30%), 50%)
$link-color--hover-bg = tint($link-color, 90%)
$link-color--active = alpha(darken($link-color--hover, 50%))




// Body
//
// Settings for the `<body>` element.

$body-color = #333
$inverse-bg = $color_gray-dark
$inverse-color = $color_gray-lighter






// ====================
// Type
// ====================

$font-family-base = 'Inter',sans-serif
$font-size-root = 20px
$font-size-base = 1rem
$font-size-lg = 1.25rem
$font-size-sm = 0.875rem
$font-size-xs = 0.75rem
$font-weight-normal = normal
$font-weight-bold = bold
$font-weight-base = $font-weight-normal
$line-height-base = 1.6

// Headings
$font-size-h1 = 2rem
$font-size-h2 = 1.35rem
$font-size-h3 = 1.1rem
$font-size-h4 = 1rem
$font-size-h5 = 0.9rem
$font-size-h6 = 0.8rem



//Reboot
$dt-font-weight = $font-weight-bold


//no
$hr-border-color = rgba($color_black, 0.1)
$abbr-border-color = $color_gray-light



// Image thumbnails
$thumbnail-padding = 0.25rem
$thumbnail-border-width = 1px
$thumbnail-border-color = #ddd
$thumbnail-border-radius = 3px
$thumbnail-box-shadow = 0 1px 2px rgba($color_black, 0.075)
$thumbnail-transition = all 0.2s ease-in-out


// Figures
$figure-caption-font-size = 90%
$figure-caption-color = $color_gray-light




// ====================
// Grid
// ====================

// Grid breakpoints
$breakpoints = {
  'xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
  //'xxl': 1400px
}

$breakpoints-and-widths = {
	"576px": 540px,
	"768px": 720px,
	"992px": 960px,
	"1200px": 1170px,
	//"1500px": 1370px
	}


// Number of columns
$columns = 12

$grid-gutter-width-base = 2rem
$grid-gutter-widths = {
	"xs": $grid-gutter-width-base,
	"sm": $grid-gutter-width-base,
	"md": $grid-gutter-width-base,
	"lg": $grid-gutter-width-base,
	"xl": $grid-gutter-width-base
	//"xxl": $grid-gutter-width-base
}