@use '../variables' as *
@use '../mixins' as *
	
// Box with rounded corners
%box
	&__paddings
		padding: 32px 16px
		@include media(sm)
			padding: 32px
	&__radius
		border-radius: $radius--XL
	&__primary
		background: $surface-secondary
	&__secondary
		background: $surface-secondary
		border: 1px solid $surface-secondary

// Full width section
%section
	&__paddings
		padding: 56px 0
	&__primary
		background: $surface-secondary
	&__secondary
		background: $surface-tertiary