// Box with rounded corners
$box
	$paddings
		padding 32px 16px
		+media(sm)
			padding 32px
	$radius
		border-radius: $radius--XL
	$primary
		background $background-1
	$secondary
		background $background-2