// Box with rounded corners
$box
	$paddings
		padding 32px 16px
		+media(sm)
			padding 32px
	$radius
		border-radius: $radius--XL
	$primary
		background $background-1
	$secondary
		background $background-2

// Full width section
$section
	$paddings
		padding 32px 0
	$primary
		background $background-1
	$secondary
		background $background-2
	$tertiary
		background $background-3