/////////////// Секции

$g__section
	padding 32px 16px // TODO Унифицировать отступы для подобных блоков?
	border-radius: $radius--M
	+media(sm)
		padding 32px 

	$primary
		background $background-1
	$secondary
		background $background-2