// ul
.js-tablist
	margin: 0
	padding: 0
	display flex

.js-tablist__item
	display: inline-block
	flex: 1 1 auto
	text-align: center
	border-bottom: 1px solid #ffcc80;


.js-tablist__link
	display: inline-block
	width 100%
	height: 100%
	cursor: pointer
	color: $text-color !important
	background none !important
	border 0
	&[aria-selected="true"]
		border-bottom 5px solid #FF9800

// Контент вкладки
.js-tabcontent__item
	&[aria-hidden="true"]
		display: none


.invisible
	border: 0
	clip: rect(0 0 0 0)
	height: 1px
	margin: -1px
	overflow: hidden
	padding: 0
	position: absolute
	width: 1px