<ul class="activity">
	<li class="activity__item">
		<img class="activity__item-image" src="./images/event-no-logo.svg" role="img" alt="">
		<span class="activity__item-desc-container">
			<a class="activity__link" href="{{ links.public.talk }}">Talk ‘Accessibility Features and Where to Find Them’</a>
			<span class="activity__item-desc">
				The Accessibility Conference,
				<time datetime="2022-01-18 19:30">18th January 2022</time>
			</span>
		</span>
	</li>
	<li class="activity__item">
		<img class="activity__item-image" src="./images/web-standards-logo.svg" role="img" alt="">
		<span>
			<a href="{{ links.public.podcastFirst }}">Web Standards, episode 180</a>
			<time class="activity__item-desc" datetime="2019-06-17">17th June 2019</time>
		</span>
	</li>
	<li class="activity__item">
		<img class="activity__item-image" src="./images/web-standards-logo.svg" role="img" alt="">
		<span>
			<a href="{{ links.public.podcastSecond }}">Web Standards, episode 193</a>
			<time class="activity__item-desc" datetime="2019-09-16">16th September 2019</time>
		</span>
	</li>
	<li class="activity__item">
		<img class="activity__item-image" src="./images/twitter-logo.svg" role="img" alt="">
		<span>
			<a href="{{ links.public.jsunderhood }}">jsunderhood Week</a>
			<span class="activity__item-desc">
				From <time datetime="2019-12-09">9th</time> to <time datetime="2019-12-15">15th December 2019</time>
			</span>
		</span>
	</li>
</ul>
