<footer class="footer">
	<div class="footer__content container">
		<span>©2011–{% currentYear %}</span>
		<span><a href="https://github.com/vasiliy-dudin/my-website" target="_blank" rel="nofollow noopener noreferrer" onclick="plausible('Footer link', { props: { page: window.location.pathname, destination: 'github' } })">Developed by me</a>, built with <a href="https://www.11ty.dev" target="_blank" rel="nofollow noopener noreferrer" onclick="plausible('Footer link', { props: { page: window.location.pathname, destination: '11ty' } })">11ty</a>
		</span>
	</div>
</footer>