<footer class="footer">
	<div class="content">
		<div class="content__footer">
			<div class="socials-container">
				<ul class="socials">
					<li class="socials__item">
						<a class="socials__item-link" href="{{ links.social.twitter }}">
							{% include "../assets/ico-twitter.svg" %}
							<span class="visually-hidden">Tanya's Twitter</span>
						</a>
					</li>
					<li class="socials__item">
						<a class="socials__item-link" href="{{ links.social.github }}">
							{% include "../assets/ico-github.svg" %}
							<span class="visually-hidden">Tanya's GitHub profile</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="copyrights">
				<small class="copyrights__item">© Tatiana Fokina, 2017–{% currentYear %}</small>
				<small class="copyrights__item">Powered by <a href="{{ links.copyright.eleventy }}">Eleventy</a> and <a href="{{ links.copyright.siteRepo }}">GitHub</a>.
					Icons from <a href="{{ links.copyright.iconfinder}}">Iconfinder</a>
				</small>
			</div>
		</div>
	</div>
</footer>
