<footer class="footer">
	<div class="content">
		<div class="content__footer">
			<div class="socials-container">
				<ul class="socials">
					<li class="socials__item">
						<a class="socials__item-link" href="{{ links.twitter }}">
							<span class="visually-hidden">Twitter</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="copyrights">
				<small class="copyrights__item">©2011–{% currentYear %}</small>
				<small class="copyrights__item">Built with <a href="{{ links.eleventy }}">Eleventy</a>
				</small>
			</div>
		</div>
	</div>
</footer>
