<header class="header">
	<a class="skip-link" href="#main-content">Skip to main content</a>
	<div class="container">
		<nav class="nav">
			<a class="logo" href="/" aria-label="{{ site.title }}">
				{% include "../assets/logo.svg" %}
				{% include "../assets/sitename.svg" %}
			</a>
			<ul class="menu" id="menu">
				{% for item in menu %}
					{% if item.href == page.url %}
						{% set isCurrent = true %}
						{% else %}
							{% set isCurrent = false %}
					{% endif %}
					{% if item.href == page.url or (page.url and item.href != '/' and page.url.startsWith(item.href)) %}
						{% set isActive = true %}
						{% else %}
							{% set isActive = false %}
					{% endif %}

					{% if item.enabled %}
						<li class="menu__item">
							<a class="menu__link{% if isActive %} --active{% endif %}"
							href="{{ item.href }}"
							{% if isCurrent %}aria-current="page"{% endif %}
							>
								{{ item.name }}
							</a>
						</li>
					{% endif %}

				{% endfor %}
			</ul>
		</nav>
	</div>


</header>