//===========================
// Text-emphasis
//===========================
text-emphasis-variant($parent, $color)
	{$parent}
		color: $color !important;
	a{$parent}:hover
	{$parent} a
		color: darken($color, 10%) !important;

text-emphasis-variant(".text--muted", $color_blue-gray--7)
text-emphasis-variant(".text--primary", $sd-color__palette-blue-40)
text-emphasis-variant(".text--success", $brand-success)
text-emphasis-variant(".text--info", $brand-info)
text-emphasis-variant(".text--warning", $brand-warning)
text-emphasis-variant(".text--danger", $brand-danger)
text-emphasis-variant(".text--gray-dark", $color_gray-dark)

// Contextual colors
.text--white
	color: #fff !important



//
// Emphasis
//
small,
.small
	font-size: $small-font-size
	font-weight: $font-weight-normal

mark,
.mark
	padding: $mark-padding
	background-color: $color_yellow