
//===========================
// List
//===========================
ol,
ul,
dl
	margin-top: 0
	margin-bottom: 1rem
	padding-left 32px
	&:not(.breadcrumbs):last-child
		margin-bottom: 0


ol ol,
ul ul,
ol ul,
ul ol
	margin-bottom: 0
	padding-left 1.3rem

ul ul
	list-style: circle





// Unstyled keeps list items block level, just removes default browser padding and list-style
list-unstyled()
	padding-left: 0
	list-style: none
.list-unstyled
	list-unstyled()

// Inline turns list items into inline-block
.list-inline
	list-unstyled()

.list-inline-item
	display: inline-block
	&:not(:last-child)
		margin-right: $list-inline-padding