@import '../variables/_index.styl'

$link-style--primary

a	
	color $link-color
	text-decoration-line: underline
	text-decoration-thickness: 1px
	text-decoration-color: alpha($link-color, 25%)
	text-underline-offset: 4px
	&:hover
		color $link-color--hover
		background $link-color--hover-bg