//===========================
// Text Variants
//===========================


// Weight and italics
.font-weight-normal
	font-weight: $font-weight-normal

.font-weight-bold
	font-weight: $font-weight-bold

.font-italic
	font-style: italic