inner-shadow($horizontal=0, $vertical=1px, $blur=2px, $alpha=0.4)
	box-shadow: inset $horizontal $vertical $blur rgba(0, 0, 0, $alpha);









/*========================
Оформление кнопок
========================*/
button-variant-static($color, $bg, $border) // not interactive
	color: $color;
	background-color: $bg;
	border: $border;
	&.disabled,
	&[disabled],
	fieldset[disabled] &
		&,
		&:hover,
		&:focus,
		&:active,
		&.active
			color: $color;
			background-color: $bg;



			





/* ===================
svg иконки перед строкой.
======================

Использование:
.link-icon
	link-icon($width:27px, $height:27px, $top:2px, $bg-size:contain, $padding-right:6px);
	
.link-icon_fb
	.link-icon_image ($background-image: "imgs/skype.svg");
*/
link-icon($width, $height, $top, $bg-size=contain, $padding-right)
	&:before
		content: '';
		position: relative;
		top: $top;
		display: block;
		float: left;
		box-sizing content-box
		padding-right: $padding-right;
		width: $width;
		height: $height;
		background-size: $bg-size;
		background-repeat: no-repeat;
		background-position: 0 50%;


/*
link-icon_image($background-image)
	&:before
		background-image: data-uri('image/svg+xml;charset=UTF-8', '{$background-image');

*/


//Стрелка вниз для ссылки на выпадающий блок
caret()
	&:after
		display: inline-block;
		width: 0;
		height: 0;
		margin-left: 6px;
		vertical-align: middle;
		border-top: 4px dashed;
		border-top: 4px solid\9;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
		content: '';




//Стрелка вниз для ссылки на выпадающий блок (без подчёркивания стрелки, нужная для ссылкок с тонким подчёркиванием)
caret-absolute()
	caret();
	position: relative;
	&:after
		position: absolute;
		top: 50%;
		
		
		
		

		
		
		

// Создаёт медиазапросы с готовой шириной
//Использование:
/*
+media($breakpoint-name: sm)
	.btn
		color #00b3ee
		*/
media($breakpoint-name)
	if $breakpoints[$breakpoint-name] > 0
		@media (min-width: $breakpoints[$breakpoint-name])
			{block}
		

media-down($breakpoint-name)
	if $breakpoints[$breakpoint-name] > 0
		@media (max-width: $breakpoints[$breakpoint-name] - 1)
			{block}