clearfix()
	&::after
		display: block
		content: ""
		clear: both

// Gradients
// Horizontal gradient, from left to right
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
gradient-x($start-color = #555, $end-color = #333, $start-percent = 0%, $end-percent = 100%)
	background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent)
	background-repeat: repeat-x

// Vertical gradient, from top to bottom
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
gradient-y($start-color = #555, $end-color = #333, $start-percent = 0%, $end-percent = 100%)
	background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent)
	background-repeat: repeat-x

gradient-directional($start-color = #555, $end-color = #333, $deg = 45deg)
	background-repeat: repeat-x
	background-image: linear-gradient($deg, $start-color, $end-color)

gradient-x-three-colors($start-color = #00b3ee, $mid-color = #7a43b6, $color-stop = 50%, $end-color = #c3325f)
	background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color)
	background-repeat: no-repeat

gradient-y-three-colors($start-color = #00b3ee, $mid-color = #7a43b6, $color-stop = 50%, $end-color = #c3325f)
	background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color)
	background-repeat: no-repeat

gradient-radial($inner-color = #555, $outer-color = #333)
	background-image: radial-gradient(circle, $inner-color, $outer-color)
	background-repeat: no-repeat

gradient-striped($color = rgba(255, 255, 255, 0.15), $angle = 45deg)
	background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent)
	




// Image Mixins
// - Responsive image
// - Retina image
// Responsive image
//
// Keep images from scaling beyond the width of their parents.
img-fluid()
	// Part 1: Set a maximum relative to the parent
	max-width: 100%
	// Part 2: Override the height to auto, otherwise images will be stretched
	// when setting a width and height attribute on the img element.
	height: auto

// Retina image
//
// Short retina mixin for setting background-image and -size.
img-retina($file-1x, $file-2x, $width-1x, $height-1x)
	background-image: url($file-1x)

	// Autoprefixer takes care of adding -webkit-min-device-pixel-ratio and -o-min-device-pixel-ratio,
	// but doesn't convert dppx=>dpi.
	// There's no such thing as unprefixed min-device-pixel-ratio since it's nonstandard.
	// Compatibility info: http://caniuse.com/#feat=css-media-resolution
	@media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
		background-image: url($file-2x)
		background-size: $width-1x $height-1x
		// Standardized


		
		
// Lists





// Horizontal dividers
//
// Dividers (basically an hr) within dropdowns and nav lists
nav-divider($color = #e5e5e5)
	height: 1px
	margin: 1.5rem 0
	overflow: hidden
	background-color: $color
	


// Navbar vertical align
//
// Vertically center elements in the navbar.
// Example: an element has a height of 30px, so write out `.navbar-vertical-align(30px);` to calculate the appropriate top margin.
// @mixin navbar-vertical-align($element-height) {
//   margin-top: (($navbar-height - $element-height) / 2);
//   margin-bottom: (($navbar-height - $element-height) / 2);
// }




// Pagination
pagination-size($padding-y, $padding-x, $font-size, $line-height, $border-radius)
	.page-link
		padding: $padding-y $padding-x
		font-size: $font-size
	.page-item
		&:first-child
			.page-link
				border-left-radius(2px)
		&:last-child
			.page-link
				border-right-radius(2px)
				
		
				
				
				
reset-text()
	font-family: $font-family-base
	// We deliberately do NOT reset font-size or word-wrap.
	font-style: normal
	font-weight: $font-weight-normal
	letter-spacing: normal
	line-break: auto
	line-height: $line-height-base
	text-align: left
	//text-align: start // Fallback for where `start` is not supported
	text-decoration: none
	text-shadow: none
	text-transform: none
	white-space: normal
	word-break: normal
	word-spacing: normal
	
	
	

// Sizing shortcuts
size($width, $height = $width)
	width $width
	height $height
	

	
		
	
// CSS image replacement
text-hide()
	font: 0 / 0 a
	color: transparent
	text-shadow: none
	background-color: transparent
	border: 0



// Text truncate
// Requires inline-block or block for proper styling
text-truncate()
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap
	


// Visibility
invisible()
	visibility: hidden !important
	



	
// Создаёт медиазапросы
media-breakpoint-up($width-min)
	if $width-min > 0
		@media (min-width: $width-min)
			{block}
media-breakpoint-down($width-max)
	if $width-max > 0
		@media (max-width: $width-max)
			{block}