.footer
	.container Василий Дудин,
		script.
			document.write(" " + new Date().getFullYear());

.scroll-to-top ↑

script(src='//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='/js/bundle.js?v='+getTime)
//-Место для вставки скрипта Яндекс Метрики