footer.footer
	.container
		div Василий Дудин,
			script.
				document.write(" 2011-" + new Date().getFullYear());
		div Icons made by <a href="https://www.flaticon.com/authors/surang" target="_blank" rel="nofollow noopener noreferrer">surang</a> from <a href="https://www.flaticon.com/" target="_blank" rel="nofollow noopener noreferrer"> flaticon.com</a>
button.scroll-to-top(aria-hidden="true") ↑

script(src='/js/bundle.js?v='+$getTime)