.footer
	.container Василий Дудин, 2019

.scroll-to-top ↑

script(src='//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='/js/bundle.js')
//-Место для вставки скрипта Яндекс Метрики