//- Передаёт локальные переменные в шаблон. Переменные опребеляем в файле страницы.
block vars

//- Вытаскивает параметры проекты из массива (срабатывает только на странице проекта)
each project in projectList
	if project.id === $projectID
		- $h1 = project.name
		- $desc = project.desc
		- $date = project.date
		- $project = project

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
block head__meta
block head__scripts
title= $h1 + " — " + $siteName + ", " + $slogan
block css
	//- Fonts / https://csswizardry.com/2020/05/the-fastest-google-fonts/?s=09#google-fonts-async-snippet
	- var $fontsCSS = 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'
	link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
	link(rel='preload' as='style' href=$fontsCSS)
	link(rel='stylesheet' href=$fontsCSS media='print' onload="this.media='all'")
	noscript
		link(rel='stylesheet' href=$fontsCSS)

	link(rel="stylesheet" href="/css/bundle.css?v="+$getTime)

link(rel="apple-touch-icon", sizes="180x180", href="/favicons/apple-touch-icon.png?v=rMJobjaYXL")
link(rel="icon", type="image/png", sizes="32x32", href="/favicons/favicon-32x32.png?v=rMJobjaYXL")
link(rel="icon", type="image/png", sizes="16x16", href="/favicons/favicon-16x16.png?v=rMJobjaYXL")
link(rel="manifest", href="/favicons/site.webmanifest?v=rMJobjaYXL")
link(rel="mask-icon", href="/favicons/safari-pinned-tab.svg?v=rMJobjaYXL", color="#5bbad5")
link(rel="shortcut icon", href="/favicons/favicon.ico?v=rMJobjaYXL")
meta(name="msapplication-TileColor", content="#da532c")
meta(name="msapplication-config", content="/favicons/browserconfig.xml?v=rMJobjaYXL")
meta(name="theme-color", content="#ffffff")
// removeIf(production)
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NM3PW6Z');</script>
// endRemoveIf(production)