include ../../_helpers/variables.pug
include ../../_helpers/mixins.pug


//- Google Tag Manager (noscript)
// removeIf(production)
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NM3PW6Z" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
// endRemoveIf(production)
header.header
	.container.navbar
		a.navbar-header(href="/")
			.logo
				img.logo__img(src="/imgs/logo.svg" alt="")
			.sitename-slogan
				.sitename=$siteName
				.slogan=$slogan
		nav.nav
			ul.menu
				//- Цикл, который выводит пункты меню.
				//- Если значение переменной "$menu_activeLink" совпадает с id, то присвоить класс "active"
				each i in $menu
					li.menu__item
						a(href=i.path, class="menu__lnk", class={"--active": $menu_activeLink === i.id})
							span.menu__lnk__inr= i.name