include ../../_helpers/variables.pug
include ../../_helpers/mixins.pug



header.header
	.container.navbar
		.navbar-header-wrp
			a.navbar-header(href="/")
				.sitename=siteName
				.slogan=slogan
		nav.nav
			button.hamburger.expand-lnk
			ul.menu.nav-wrp.expand-block
				//- Цикл, который выводит пункты меню.
				each val, key in {"Обо мне": "/", "Проекты":"/projects/", "Контакты":"/contacts/"}
					li.menu__item
						a(href=val, class="menu__lnk menu__lnk--" + key.toLowerCase())
							span.menu__lnk__inr= key