//-Шаблон страницы
extends ../../_templates/project-page

block head__meta

block head__scripts

block vars
	//- ID проекта. По нему вытаскиваем нужные поля.
	- var $projectID = "practicum"
	- var $projectNumber = 1


block content
	+section
		+section_inner
			h2 О проекте
			p текст