---
title: Contacts
description: ____
layout: page.njk
permalink: "/contacts/"
---

<ul class="contacts-page">
	{% for link in contacts %}
		<li class="contacts-page__item">
			{% if link.name == "email" %}
				{% set email = link.url %}
				{% include "email-copy-button.njk" %}
			{% else %}
				<a class="contacts-page__item-link" href="{{ link.url }}" target="_blank" rel="nofollow noopener noreferrer" onclick="plausible('Contact link', { props: { page: window.location.pathname, destination: '{{ link.name | lower }}' } })">
					{{ link.name }}
				</a>
			{% endif %}
		</li>
	{% endfor %}
</ul>