$home-section-gap = 10px


////// Первая секция обо мне
.hero-section
	@extend $g__section
	margin-bottom: $home-section-gap
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 1.5rem;
	+media(sm)
		grid-template-columns: minmax(50px, 2fr) 10fr;
	h2
		margin-top: 0
		margin-bottom: 1.5rem

	&__photo // 1 колонка
		max-width: 30%
		margin: 0 auto
		+media(sm)
			max-width: unset
		&__img
			mask-image: url("/imgs/photo-mask.svg")
			mask-size cover
			+media(md)
				margin-bottom 0

	&__features
	&__services
		margin: auto 0
		display: grid
		grid-gap: 1.5rem
		+media(sm)
			grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));

	&__features__item
			display: flex
			&:before
				content ''
				background url(/index/feature-icon.svg) no-repeat 0 50%
				background-size contain
				flex: 0 0 auto
				height: 30px
				width: @height
				margin-right: 0.5rem

	&__services
		margin-top: 2rem
		padding-top: 2rem
		border-top: 1px solid $color_blue-gray--9
		gap 1.5rem
		h2
			margin-top: 0

// Блоки с информацией обо мне

.about-me-grid
	display: grid
	grid-gap: $home-section-gap
	+media(sm)
		grid-template-columns: repeat(auto-fit, minmax(410px, 1fr))

.about-me-section
	@extend $g__section
	&__name-aligner
		display: flex
		align-items center
		margin-bottom: 1.5rem
	&__img
		height 70px
		margin-right: 0.5rem
	&__name
		margin: 0
	&:not(:last-child)
		margin-bottom: $home-section-gap

// TODO Переместить в более удобное место и объединить
// Шкала
.scales
	display: inline-flex
	flex-direction: column
	align-items flex-end

.scale
	display: flex
	align-items center
	&:not(:last-child)
		margin-bottom 8px
	&__name
		margin-right: 8px
		text-align right
		line-height 1.2
	&__segments
		display:flex
	&__segment
		width: 12px
		height: @width
		border: 1px solid #7ECB92 // TODO В переменную
		border-radius 50%
		+media(sm)
			width: 16px
			height: @width
		&:not(:last-child)
			margin-right 4px
		&.--painted
			background: #7ECB92 // TODO В переменную