//.portfolio


.project-list
	display: grid;
	grid-gap: $grid-gutter-width-base
	+media(sm)
		grid-template-columns: 1fr 1fr;
	+media(md)
		&.--2
		&.--3
			grid-template-columns: 1fr 1fr 1fr;
	&.--1
		margin-bottom: 4rem
	&.--2
		margin-bottom: $grid-gutter-width-base
	// Серим превью
	&.--2
	&.--3
		filter: grayscale(1)

.project-card
	$caption-bg = lighten($link-color, 96%)
	position: relative
	&__link
		position: relative
		display: block
		border: 0 !important
		text-decoration: none

	// Изображение
	&__thumbnail
		position: relative
		box-shadow: 0 5px 15px alpha(#000, 20%)
	img
		display: block
		@extend .img-fluid
		
		
	// Caption

	&__caption
		line-height: 1.2
		margin-top 12px
		//padding: 6px 10px
		//background-color: $caption-bg
		&.--external
			padding-left: 30px
			background-image: url("../imgs/external-link.svg")
			background-repeat: no-repeat
			background-position-y: 3px
			background-size 20px
	&__title
		display: inline-block
		margin-bottom: 5px
		font-size: 1.2rem
		color: $link-color
		thin-underline--default()
	&__desc
		font-size: 0.9rem
	&__desc
	&__date
	&__not-available-message
		color: $body-color
	&__date
		margin-top: 0.5rem
		font-size 0.8rem


	// todo ПЕРЕПИСАТЬ?
	+media-breakpoint-down(500px)
		width: 100%
	+media-down(md)
		font-size: 0.9rem



	// Работа в процессе наполнения

	/.--not-filled-in-yet
		opacity: .35
		filter: saturate(0)
		.work__title
			border-color: transparent
	&__not-available-message
		display: inline-block
		margin-top: 0.5rem;
		padding 4px 6px
		line-height: 1
		font-size: .9rem
		border: 1px solid lighten($body-color, 40%)



	// hover, active, focus
	$img-overlay = $caption-bg //lighten(saturate($brand-2, 40%), 80%)

	&__link
		&:hover
			background unset !important
		& ^[0]__thumbnail:before
			content: ''
			width: 100%
			height: 100%
			position: absolute
			display: block
			top: 0
			left: 0
			transition: all .1s ease

		&:hover
		&:focus
			& ^[0]__thumbnail:before
				background: alpha($img-overlay, 50%);
			& ^[0]__title
				color $link-color--hover

		&:active ^[0]__thumbnail:before
			background: alpha($img-overlay, 70%);