// =====================
// Шапка проекта
// =====================

$project-header__padding = 1rem
$neighbors-width = 75px

.project-header
	position relative
	padding: $project-header__padding
	margin-bottom: 4rem
	body-bg(fixed)
	justify-content: space-between
	flex-wrap: wrap
	align-items: center
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4)
	+media(sm)
		position: sticky
		top 0
		padding-right "calc(%s + %s + 1rem)" % ($project-header__padding $neighbors-width) // 1rem - дополнительный отступ
		z-index: 500
	h1
		margin-bottom: 0


// Следующий/предыдущий проект

.neighbors
	@extend $d-flex
	flex-wrap: wrap
	width $neighbors-width
	+media(md)
		position: absolute
		top: 1rem
		right: @top

	&__prev,
	&__next
		align-self: center
		width calc(50% - 2px)
		height: 32px
		padding: 0
		font-size: 20px
	&__next
		margin-left: auto;
	&__prev:before
	&__next:before
		content ''
		display: block
		width: 100%
		height: 100%
		margin auto
		background url('/imgs/neighbor-arrow.svg') 50% 50% no-repeat
		background-size: 18px
	&__prev:before
		transform scaleX(-1)




// =====================
// Разметка контентных блоков
// =====================



// Секция для группировки описания работы
.project-section
	h2
		margin: 0
		@extend $g__section
		padding-bottom 0.8rem // перезаписывает @extend
		font-weight: bold
		border-radius $section__radius $section__radius 0 0  // перезаписывает @extend
	&__inner
		margin-top 0.5rem
		@extend $g__section
		border-radius 0 0 $section__radius // перезаписывает @extend
		&:first-of-type
			margin-top 0
	h2~&__inner:first-of-type // первый __inner после h2
		padding-top: 0
	&:not(:last-child)
		margin-bottom 4rem


// =====================
// Контент
// =====================


.project-section
	ul:last-child
		margin-bottom: 0


.project-video
	+media-down(md)
		position: relative
		padding-bottom: 56.25% // 16:9
		height: 0
	iframe
		display: block
		+media-down(md)
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%

// Изображения
.project-img
	&:not(:last-child) // Отступ под картинкой
		margin-bottom: 1rem
	&__src
		height auto
		width 100%
		&--xl
			max-width 100%
		&--md
			max-width 800px
		&--s
			max-width 600px
		&--xs
			max-width 600px