.project-header
	position sticky
	top 0
	padding: 0.5rem 1rem
	margin-bottom: 4rem
	background: #fff;
	justify-content: space-between
	flex-wrap: wrap
	align-items: center
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)


// Следующий/предыдущий проект
.neighbors // todo Мобильная версия
	@extend .d-flex
	position: absolute
	top: 1rem
	right: @top
	flex-wrap: wrap
	width 75px
	&__prev,
	&__next
		align-self: center
		display: flex
		width calc(50% - 2px)
		height: 32px
		padding: 0
		font-size: 20px
	&__next
		margin-left: auto;
	&__prev:before
	&__next:before
		margin auto
	&__next:before
		content '→'
	&__prev:before
		content '←'