//- Repeat. Повторяет вложенный в миксин код
	Пример использования:
	+repeat(3)
		.col--sm-4 Колонка
mixin repeat(limit)
	- for (var i = 1; i <= limit; i++)
		block


//- Breadcrumbs
	ul.breadcrumb
		+breadcrumbs({'Main page':'/', 'News':'/news'})
mixin breadcrumbs(items)
	nav(aria-label="Хлебные крошки")
		ol.breadcrumbs
			each url, item in items
				li.breadcrumbs__item
					//- if breadcrumb is single
					if (items.length === 1)
						span= url
					else
						a(href=url).breadcrumbs__link= item

			li.breadcrumbs__item
				a(href="#" aria-current="page").breadcrumbs__link.--current= pageTitle