//- Название сайта
- var $siteName = "Василий Дудин"

//- Слоган
- var $slogan = "UX-проектировщик"

//- Меню. id нужен чтоб подсвечивать активный пункт меню.
-
    var $menu = [
        {
            id:'1',
            name: 'Обо мне',
            path: '/'
        },
        {
            id:'2',
            name: 'Проекты',
            path: '/projects/'
        },
        {
            id:'3',
            name: 'Контакты',
            path: '/contacts/'
        }
    ]


//- Время, подставляется после js/css для указания версии. Округляет последние несколько минут, нули в конце не пишет
-
    var $d = new Date().getTime();
    var $getTime = Math.round($d / 100000);
