//- Название сайта
- var $siteName = "Vasiliy Dudin"

//- Слоган
- var $slogan = "UX and Product Designer"

//- Меню. id нужен чтоб подсвечивать активный пункт меню.
-
    var $menu = [
        {
            id:'1',
            name: 'About Me',
            path: '/'
        },
        {
            id:'2',
            name: 'Projects',
            path: '/projects/'
        },
        {
            id:'3',
            name: 'Contacts',
            path: '/contacts/'
        }
    ]


//- Время, подставляется после js/css для указания версии. Округляет последние несколько минут, нули в конце не пишет
-
    var $d = new Date().getTime();
    var $getTime = Math.round($d / 100000);
