//-Шаблон страницы
extends ../../_templates/project-page

block head__meta

block head__scripts

block vars
	//- ID проекта. По нему вытаскиваем нужные поля.
	- var $projectID = "accessible-components"
	- var $projectNumber = 3



block content
	+section
		+section_inner
			h2 Описание
			p Каталог протестированных UI-компонентов для разработчиков и дизайнеров. Качество компонентов могут протестировать не только люди с ограниченными возможностями, но специалисты, которые заинтересованы в удобных интерфейсах.
			p Дальше кратко описываю процесс проектирования MVP. Для первой версии выбраны решения, «дешёвые» для разработки, и составлен план улучшения этих решений.

	+section
		+section_inner
			h2 Решаемые проблемы
			ol
				li Фронтендеры и дизайнеры хотят разработать интерфейс для людей с ограниченными возможностями. Такие интерфейсы должны быть удобными и соответствовать стандартам. Примеры из интернета сложны, а готовые библиотеки компонентов часто недоступны.
				li Люди с ограниченными возможностями испытывают проблемы на сайтах и сервисах. Некоторыми ресурсами и вовсе не получается воспользоваться.

	+section
		+section_inner
			h2 Аналитика и разработка требований
			p Составил job stories, технические ограничения со списком внешних интеграций, диаграмму use cases и изучил рефы.

	+section
		+section_inner
			h2 Проектирование процессов
			p За основу взял диаграмму use cases и показал как 3 группы пользователей будут решать свои задачи, взаимодействуя с интерфейсом.
			+img-project($filename='user-flow', $extension='jpg', $size='md', $alt='')

	+section
		+section_inner
			h2 Прототипирование
			+prototype-link("https://rn4e5j.axshare.com/#id=c4aysf&p=components")
			+img-project($filename='prot__1', $extension='jpg', $size='md', $alt='')

		+section_inner
			p Этот режим отображается при переходе к компоненту. Так пользователи скринридеров быстрее перейдут к тестированию компонента.
			+img-project($filename='prot__2', $extension='jpg', $size='md', $alt='')

		+section_inner
			p Тут пошагово объясняем, как сверстать компонент, как он должен работать и какие ARIA-атрибуты необходимы. Отсюда же разработчик может забрать React-компонент, если не хочет разрабатывать его самостоятельно.
			+img-project($filename='prot__3', $extension='jpg', $size='md', $alt='')

	+section
		+section_inner
			h2 Визуальный дизайн
			+img-project($filename='ui__1', $extension='jpg', $size='', $alt='')