$home-section-gap = 10px


////// Первая секция обо мне
.hero-section
	@extend $g__section
	margin-bottom: $home-section-gap
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 1.5rem;
	+media(sm)
		grid-template-columns: minmax(50px, 2fr) 10fr;
	h2
		margin-top: 0
		margin-bottom: 1.5rem

	&__img
		max-width: 30%
		margin: 0 auto
		+media(sm)
			max-width: unset
		// &__img
		// 	mask-image: url("/imgs/photo-mask.svg")
		// 	mask-size cover
		// 	+media(md)
		// 		margin-bottom 0

	//&__text
		


// Блоки с информацией обо мне

.about-me-grid
	display: grid
	grid-gap: $home-section-gap
	+media(sm)
		grid-template-columns: repeat(auto-fit, minmax(410px, 1fr))

.about-me-section
	@extend $g__section
	&__name-aligner
		display: flex
		align-items center
		margin-bottom: 1.5rem
	&__img
		margin-right: 12px
		font-size 3rem
		line-height 1
	&__name
		margin: 0
	&:not(:last-child)
		margin-bottom: $home-section-gap