@use "../variables" as *
@use "../mixins" as *
@use "../components/global" as *


////// Первая секция обо мне
.hero-section
	display: flex
	flex-wrap: wrap
	gap: 24px
	padding: 16px 32px
	overflow: hidden	
	@extend %box, %box__radius, %box__primary
	padding: 32px 16px
	@include media(sm)
		padding: 40px
	position: relative
	z-index: 0
	border: 8px solid $surface-secondary
	// responsive
	justify-content: center
	text-align: center
	align-items: center
	
	&__bg
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		object-fit: none
		object-position: top
		z-index: -1
		mask-image: url(../assets/hero-bg-mask.svg)
		mask-repeat: no-repeat
		mask-position: right
		mask-size: auto 100%
	@media (min-width: 680px)
		justify-content: flex-start
		text-align: left

	// Photo container
	&__photo-container
		position: relative
		display: inline-block
		order: 0

		// img bg
		&::after
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-radius: 50%
			background: $accent-secondary
			mix-blend-mode: multiply

	// Photo
	&__img
		display: block
		width: 140px
		height: auto
		position: relative
		border-radius: 50%
		z-index: 1
		@include media(lg)
			width: 160px

	// Polygon SVG
	&__polygon
		position: absolute
		top: -24px
		left: -70px
		height: 230px
		width: 250px
		fill: $accent-primary
		z-index: 0
		opacity: 0.8
		mix-blend-mode: multiply
		@media (min-width: 680px)
			transform: scale(0.8)
			top: -52px
			left: -52px
			height: 270px

	// Text block
	&__text-col
		@media (min-width: 680px)
			flex: 1 1

	&__heading-row
		display: flex
		gap: 8px
		// responsive
		justify-content: center
		@media (min-width: 680px)
			justify-content: flex-start

	&__heading-img
		display: block
	
	&__greeting
		margin: 0
		font-size: $font-size-h2
		font-weight: $font-weight--xxl
		color: $color-text-body-2
	
	&__subtitle
		margin-bottom: 0
		font-weight: 600


.specialisation-cards
	display: flex
	flex-direction: column
	gap: 16px
	margin: 0
	padding: 0
	list-style: none

	&__item
		display: flex
		flex-direction: column
		align-items: flex-start
		gap: 16px
		@extend %box, %box__paddings, %box__radius, %box__primary
		@include media(md)
			flex-direction: row
			align-items: center

	&__img
		flex-shrink: 0
		width: 120px
		height: 120px
		border-radius: $radius--M
		background: $color__gray-75
		border: 1px dashed $color__gray-200

	&__text
		display: flex
		flex-direction: column
		gap: 2px

	&__title
		display: block
		font-weight: 700

	&__description
		display: block



.front-section
	@extend %section__paddings
	h2
		margin-top: 0
	&:nth-child(even)
		@extend %section__primary



.work-highlights
	display: grid
	gap: 16px
	padding-top: 8px
	list-style: none
	margin: 0
	padding-left: 0

	@include media(md)
		grid-template-columns: 1fr 1fr
		gap: 16px

	&__item
		display: flex
		flex-direction: column
		@extend %box, %box__paddings, %box__radius, %box__secondary

	&__img
		width: 24px
		height: 24px
		margin-bottom: 12px
		border-radius: 50%
		background: linear-gradient(270deg, $accent-primary 0%, transparent 100%), url(../assets/noise-2.png) 0 0 / 50px
		background-blend-mode: color-burn

	&__title
		display: block
		font-weight: 700
		font-size: inherit

	&__description
		display: block
		//font-size: $font-size-sm