@use "../variables" as *
@use "../mixins" as *
@use "../components/global" as *


////// Первая секция обо мне
.hero-section
	display: flex
	position: relative
	flex-wrap: wrap
	margin-bottom: 48px
	overflow: hidden	
	@extend %box, %box__paddings, %box__radius
	background: url(../assets/noise-2.png) repeat 0 0 / 50px, radial-gradient(at 1.193317883% 12.3105010444%, hsl(39.2, 89.4736842105%, 96.2745098039%) 0%, hsla(39.2, 89.4736842105%, 96.2745098039%, 0) 100%), radial-gradient(at 48.0755092295% 94.7735303352%, $sd-color__palette-beige-200 0%, hsla(245.6, 74.2574257426%, 19.8039215686%, 0) 100%), radial-gradient(at 22.7276543751% 71.8799724113%, hsl(39.2, 89.4736842105%, 96.2745098039%) 0%, hsla(39.2, 89.4736842105%, 96.2745098039%, 0) 100%), radial-gradient(at 81.1627751159% 96.4973304012%, hsl(39.2, 89.4736842105%, 96.2745098039%) 0%, hsla(39.2, 89.4736842105%, 96.2745098039%, 0) 100%)
	box-shadow: 8px 12px 0 $border-color-2
	// responsive
	justify-content: center
	text-align: center
	@media (min-width: 680px)
		justify-content: flex-start
		text-align: left


	// Photo
	&__img
		display: block
		width: 200px
		height: auto
		margin-bottom: 16px
		border-radius: 40%
		@media (min-width: 680px)
			position: absolute
			right: 0
			top: 0px
			width: 260px
			margin-bottom: 0
			border-radius: 40% 0 0 40%



	// Text block
	&__text-col
		@media (min-width: 680px)
			flex: 0 1 calc(100% - 240px)

	&__heading-row
		display: flex
		gap: 8px
		// responsive
		justify-content: center
		@media (min-width: 680px)
			justify-content: flex-start

	&__heading-img
		display: block
	
	&__heading
		margin: 0

	&__subtitle
		margin-bottom: 16px
		font-weight: 600

	&__tags
		display: flex
		flex-wrap: wrap
		gap: 8px
		margin-top: 4px
		padding: 0
		// responsive
		justify-content: center
		@media (min-width: 680px)
			justify-content: flex-start
	
	&__tag
		display: inline-flex
		flex: 0 1 auto
		list-style: none
		padding: 2px 8px
		font-size: $font-size-sm
		border-radius: 16px
		background: $sd-color__palette-yellow-100



.front-section
	@extend %box, %box__paddings, %box__radius, %box__secondary
	margin-bottom: 24px
	h2
		margin-top: 0



.skills-list
	display: flex
	flex-direction: column
	gap: 8px
	padding-top: 8px

.skill
	display: flex
	gap: 12px

	&:before
		content: ''
		display: block		
		width: 24px
		height: 24px
		flex-shrink: 0
		margin-top: 11px
		border-radius: 50%
		background: linear-gradient(270deg, $sd-color__palette-yellow-300, $sd-color__palette-yellow-100)

	&__name
		margin: 12px 0 0



.experience
	display: flex
	flex-direction: column
	gap: 1rem
	padding-top: 8px

.experience-item
	display: flex
	gap: 12px
	&__text
		display: grid
		gap: 8px

	&__img svg
		width: 32px
		height: 32px
		border-radius: $radius--S
		overflow: hidden
		@include media(sm)
			width: 64px
			height: 64px
			border-radius: $radius--M



	&__heading
		margin: 0
	&__desc
		line-height: 1