@use "../variables" as *
@use "../mixins" as *
@use "../components/global" as *


////// Первая секция обо мне
.hero-section
	display: flex
	flex-wrap: wrap
	gap: 24px
	margin-bottom: 24px
	padding: 16px 32px
	overflow: hidden	
	@extend %box, %box__paddings, %box__radius
	position: relative
	box-shadow: 5px 7px 0 rgba($color__blue-100, 0.5)
	// responsive
	justify-content: center
	text-align: center
	align-items: center
	
	&__bg
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		object-fit: cover
		object-position: top
		z-index: -1
	@media (min-width: 680px)
		justify-content: flex-start
		text-align: left

	// Photo container
	&__photo-container
		position: relative
		display: inline-block
		order: 0

		// img bg
		&::after
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-radius: 50%
			//background: rgba($color__blue-100, 0.54)
			background: rgba(#85A2E7, 0.54)
			mix-blend-mode: multiply

	// Photo
	&__img
		display: block
		width: 140px
		height: auto
		position: relative
		border-radius: 50%
		z-index: 1
		@include media(lg)
			width: 160px

	// Polygon SVG
	&__polygon
		position: absolute
		top: -24px
		left: -70px
		height: 230px
		width: 250px
		z-index: 0
		opacity: 0.8
		mix-blend-mode: multiply
		@media (min-width: 680px)
			top: -34px
			left: -75px
			height: 270px

	// Text block
	&__text-col
		@media (min-width: 680px)
			flex: 1 1

	&__heading-row
		display: flex
		gap: 8px
		// responsive
		justify-content: center
		@media (min-width: 680px)
			justify-content: flex-start

	&__heading-img
		display: block
	
	&__greeting
		margin: 0
		font-size: $font-size-h2
		font-weight: $font-weight--xxl
		color: $color-text-body-2
	
	&__subtitle
		margin-bottom: 0
		font-weight: 600


	&__list
		margin: 0
		padding-left: 20px
		text-align: left
		
		@include media(md)
			column-count: 2
			column-gap: 40px
		
		li
			margin-bottom: 4px
			break-inside: avoid
			padding-left: 4px



.front-section
	@extend %box, %box__paddings, %box__radius, %box__primary
	margin-bottom: 16px
	h2
		margin-top: 0



.work-highlights
	display: grid
	gap: 16px 32px
	padding-top: 8px
	list-style: none
	margin: 0
	padding-left: 0

	@include media(md)
		grid-template-columns: 1fr 1fr
		gap: 24px

	&__item
		display: flex
		flex-direction: column
		position: relative
		padding-left: 36px
		
		&:before
			content: ''
			position: absolute
			left: 0
			top: 3px
			width: 24px
			height: 24px
			flex-shrink: 0
			border-radius: 50%
			background: linear-gradient(270deg, #ffc022 0%, transparent 100%), url(../assets/noise-2.png) 0 0 / 50px
			background-blend-mode: color-burn
		
	&__title
		display: block
		font-weight: 500
		font-size: inherit
		
	&__description
		display: block
		font-size: $font-size-sm