@use '../variables' as *
@use "../mixins" as *
@use "../components/global" as *
@use "../components/images" as *


.project-col-2
	display: none
	
	@include media(md)
		display: block
		min-width: 140px
		order: 2
		position: absolute
		right: 16px
		top: 0
		height: 100%
		max-width: 168px
		z-index: 3

.project-nav
	position: sticky
	margin-top: 16px
	right: 4px
	top: 12px
	padding: 8px 12px
	border-radius: $radius--M
	background: $background-3

	// Animation
	animation: project-nav linear both
	animation-timeline: --project-header !important
	animation-range: exit 50% exit 100%
	background-color: transparent

	ul
		display: contents
		margin: 0
		padding: 0
		list-style-type: none		
	ul a,
	& > a
		font-size: $font-size-xs
		text-decoration: none
		font-weight: 500

		// Animation
		animation: project-nav__text linear both
		animation-timeline: --project-header !important
		animation-range: exit 50% exit 100%

		&:hover
			background: unset
			text-decoration: underline 1.5px
			// Animation
			animation: project-nav__text-underline linear both, project-nav__text linear both
			animation-timeline: --project-header !important
			animation-range: exit 50% exit 100%

		&.--active
			text-decoration: underline 1.5px
			text-decoration-color: inherit !important

// Animation
body
	timeline-scope: --project-header

@keyframes project-nav
	from
		background-color: transparent
	to
		background-color: #ffffff
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.1)

@keyframes project-nav__text
	from
		color: $sd-color__palette-blue-bleak-200
	to
		color: $sd-color__palette-blue-bleak-500

@keyframes project-nav__text-underline
	from
		text-decoration-color: $sd-color__palette-blue-bleak-500
	to
		text-decoration-color: $sd-color__palette-blue-bleak-200

