@import "../variables/_index.styl"
@import "../variables/tokens"
@import "../variables/tokens-semantic.styl"

.container.--wide
	max-width: 1280px

.project-cols
	display flex
	gap: 24px

// Page navigation
.project-col-2
	display: none
	+media(md)
		flex: 0 0 200px
		display: block
		position: relative
		order: 2

.project-nav
	display: grid
	position: sticky
	margin-top: 16px
	top 12px
	ul
		margin: 0
		padding: 0
		list-style-type: none
		font-size: $font-size-xs


// =====================
// Шапка проекта
// =====================
$spacing = 24px

.project-header
	position relative
	display: grid
	gap: 16px
	padding: 16px
	margin-bottom: $spacing
	background $background-3
	box-shadow: 8px 12px 0 $background-2
	@extend $g__section $radius
	+media(md)
		grid-template-columns: auto 320px

	&__content
		display: flex
		flex-direction: column
		gap: 8px
		+media-down(md)
			order: -1
		+media(md)
			padding-top: 32px

	&__h1
		margin: 0
	&__img
		@extend .img-fluid
		display block
		width: 100%
		border-radius: $radius--M
	&__description
	&__date
		line-height 1.1
	
	&__h1-row
		display: contents
		+media(md)
			display: flex
			justify-content: space-between

.project-neighbours
	display: inline-flex
	flex-shrink: 0
	gap: 8px
	margin-top: auto
	&__lnk
		display: flex
		align-items: center
		padding: 4px 8px
		gap: 4px
		font-size: $font-size-xs
		text-decoration: none
		color: $sd-color__palette-gray-500
		border-radius: $radius--M

	&__icon
		width: 16px
		height: 16px
	&__icon.--prev
		transform: rotate(180deg)
		

// =====================
// Разметка контентных блоков
// =====================

.project-body
	display flex
	flex-direction: column
	gap: $spacing

// Section for grouping project description
.project-section
	@extend $g__section $secondary
	@extend $g__section $paddings
	@extend $g__section $radius
	h2
		margin-top: 0
		scroll-margin-top: 40px



// =====================
// Контент
// =====================
.project-body
	p, li
		max-width: 63ch

	// Изображения
	img
		display: block
		@extend .img-fluid
		border: 1px solid #fff
		border-radius: $radius--M

// .project-video
// 	+media-down(md)
// 		position: relative
// 		padding-bottom: 56.25% // 16:9
// 		height: 0
// 	iframe
// 		display: block
// 		+media-down(md)
// 			position: absolute
// 			top: 0
// 			left: 0
// 			width: 100%
// 			height: 100%

// Highlight inline values
.highlightValue
	text-decoration: underline
	text-decoration-thickness: 14px
	text-decoration-skip-ink: none
	text-underline-offset: -9px
	&.--old
		border-color: $sd-color__palette-gray-300
	&.--bad
		text-decoration-color: alpha($sd-color__palette-yellow-200, 20%)
	&.--good
		text-decoration-color: alpha($sd-color__palette-green-200, 20%)




.project-section__highlights
	display: block
	width: 100%
	padding: 24px
	background: $sd-color__palette-blue-100
	border-radius $radius--M
	font-weight: normal

// External links
.project-body a[href^="https://"]
.project-body a[href^="http://"]
	align-items: center
	gap: 8px
	&:after
		content: ''
		width: 16px
		height: @width
		display: block
		background-image: url("../assets/external-link.svg")
		    background-size: contain