@use '../variables' as *
@use "../mixins" as *
@use "../components/global" as *
@use "../components/images" as *


.project-header-section
	padding: 48px 0
	background: $background-3
	view-timeline-name: --project-header
	view-timeline-axis: block

.project-header
	position: relative
	display: grid
	gap: 16px
	scroll-margin-top: 400px
	color: $sd-color__palette-blue-bleak-900

	&__main-description
		display: flex
		flex-direction: column
		gap: 8px

	&__h1
		margin: 0
	&__img
		@extend .img-fluid
		display: block
		width: 100%
		border-radius: $radius--M
	&__description,
	&__date
		line-height: 1.1
	
	&__h1-row
		display: contents
		@include media(md)
			display: flex
			justify-content: space-between

	// Long Description
	&__long-description
		margin-top: 16px
		strong
			font-weight: 900

	@layer dark-bg
		a
			$link-color: $sd-color__palette-blue-900
			$link-color--hover: scale-color($link-color, $lightness: 80%)
			$link-color--hover-bg: $sd-color__palette-blue-200
			
			color: $link-color
			text-decoration-line: underline
			text-decoration-thickness: 1px
			text-decoration-color: rgba($link-color, 0.6)
			text-underline-offset: 4px
			&:hover
				background: $link-color--hover-bg