@import "../variables/_index.styl"
@import "../variables/tokens"
@import "../variables/tokens-semantic.styl"
	
// =====================
// Шапка проекта
// =====================
$spacing = 24px

.project-header
	position relative
	display: flex
	flex-direction: column
	margin-bottom: $spacing
	justify-content: space-between
	flex-wrap: wrap
	background $background-2
	box-shadow: 8px 12px 0 $border-color-2, 
		-2px -2px 0 $border-color-2
	@extend $g__section $radius
	&__art svg
		position: absolute
		top: -125px
		left: -80px
		width: 1070px
		transform: rotate(-10.7deg)
		z-index: -999
		opacity: .3


	&__content 
		@extend $g__section $paddings		
		display: flex
		flex-direction: column
		gap: 8px
	&__h1
		margin: 0
	&__img
		@extend .img-fluid
		display block
		@extend $g__section $radius
	&__description
	&__date
		line-height 1.1
	
	

.project-nav
	display flex
	margin-bottom 16px

	&__neighbours
		display flex
		margin-left: auto
		gap: 1rem





// =====================
// Разметка контентных блоков
// =====================

.project-body
	display flex
	flex-direction: column
	gap: $spacing

// Section for grouping project description
.project-section
	@extend $g__section $secondary
	@extend $g__section $paddings
	@extend $g__section $radius
	h2
		margin-top: 0


.project-cols
	+media(lg)
		display: grid
		gap 32px
		grid-template-columns: 3fr 5fr

	h3:first-child
		margin-top: 0
//.project-col



// =====================
// Контент
// =====================

.project-video
	+media-down(md)
		position: relative
		padding-bottom: 56.25% // 16:9
		height: 0
	iframe
		display: block
		+media-down(md)
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%

// Изображения
.project-body img
	display: block
	@extend .img-fluid
	border: 1px solid #fff
	border-radius: $radius--M
// .project-img
// 	&:not(:last-child) // Отступ под картинкой
// 		margin-bottom: 1rem
// 	&__src
// 		height auto
// 		max-width 100%
// 		&.--md
// 			max-width 800px
// 			width 100%
// 		&.--s
// 			max-width 600px
// 			width 100%
// 		&.--xs
// 			max-width 400px
// 			width 100%


// Highlight inline values
.highlightValue
	padding: 4px 8px
	border: 1px solid
	border-radius: $radius--S
	&.--old
		border-color: $sd-color__palette-gray-300
	&.--bad
		background: $sd-color__palette-yellow-50
		border-color: $sd-color__palette-yellow-200
		color: $sd-color__palette-yellow-500
	&.--good
		background: $sd-color__palette-green-50
		border-color: $sd-color__palette-green-200
		color: $sd-color__palette-green-400
		
		


.project-section__highlights
	display: block
	width: 100%
	padding: 24px
	background: $sd-color__palette-blue-100
	border-radius $radius--M
	font-weight: normal

// External links
.project-body a[href^="https://"]
.project-body a[href^="http://"]
	align-items: center
	gap: 8px
	&:after
		content: ''
		width: 16px
		height: @width
		display: block
		background-image: url("../assets/external-link.svg")
		    background-size: contain

// Разделение на колонки
.article-project
	.row
		display grid
		gap 32px
		+media(sm)
			grid-template-columns: repeat(auto-fit, minmax(330px, 1fr))