//-Шаблон страницы
extends ../../_templates/project-page

block head__meta

block head__scripts

block vars
	// ID проекта. По нему вытаскиваем нужные поля.
	- var $projectID = "3"



block content
	h2 Описание
	+section()
		p Каталог протестированных UI компонентов для разработчиков и дизайнеров. Качество компонентов проверяют не только люди с ограниченными возможностями, протестировать может любой заинтересованный человек.
		p Дальше кратко описываю процесс проектирования MVP. Для первой версии выбраны решения,  “дешёвые” для разработки, и составлен план улучшения этих решений.
	h2 Решаемые проблемы
	+section()
		ul
			li Фронтендеры и дизайнеры хотят разработать интерфейс для людей с ограниченными возможностями. Такие интерфейсы должны быть удобными и соответствовать стандартам. Примеры из интернета сложны, а готовые библиотеки компонентов часто недоступны.
			li Люди с ограниченными возможностями испытывают проблемы на сайтах и сервисах. Некоторыми сайтами и вовсе не получается воспользоваться.
	h2 Аналитика и разработка требований
	+section()
		p Составил job stories, технические ограничения со списком внешних интеграций, диаграмму use cases и изучил рефы.
	h2 Проектирование процессов
	+section()
		p За основу взял диаграмму use cases и показал как 3 группы пользователей будут решать свои задачи, взаимодействуя с интерфейсом.
		+img-project($src='user-flow.jpg', $size='md', $alt='')

	// todo Миксин для заголовков
	h2 Прототипирование
	+prototype-link("https://rn4e5j.axshare.com/#id=c4aysf&p=components")
	+section()
		+img-project($src='prot__1.jpg', $size='md', $alt='')
	+section()
		p Этот режим отображается при переходе к компоненту. Так пользователи скринридера быстрее перейдут к тестированию компонента.
		+img-project($src='prot__2.jpg', $size='md', $alt='')
	+section()
		p Тут пошагово объясняем, как сверстать компонент, как он должен работать и какие ARIA-атрибуты со свойствами должны быть. Отсюда же разработчик может забрать React-компонент, если не хочет разрабатывать его самостоятельно.
		+img-project($src='prot__3.jpg', $size='md', $alt='')

	h2 Визуальный дизайн
	+section()
		+img-project($src='ui__1.jpg', $size='xl', $alt='')