---
layout: page.njk
---

<div class="container">
	<div class="content">
		<main class="main anchor-target" id="main-content">
			<h1>{{ projectName }}</h1>
			<div class="project">
				<div>
					<h2 class="project__heading">Stack 🔧</h2>
					<ul class="project__stack">
						{%- for tag in stack -%}
							<li class="project-info__stack-item">{{ tag }}</li>
						{%- endfor -%}
					</ul>
				</div>

				<div>
					<h2 class="project__heading">Year 📅</h2>
					<time class="project__year">{{ year }}</time>
				</div>

				<div>
					<h2 class="project__heading">Demo 🎮</h2>
					<a class="project__demo" href="{{ demoLink }}">Go to the site</a>
				</div>

				<div>
					<h2 class="project__heading">Repository 📁</h2>
					<a class="project__repo" href="{{ repoLink }}">GitHub</a>
				</div>
			</div>

			<div class="project-desc">
				{{ content | safe }}
			</div>

		</main>
	</div>
</div>
