// Variables and mixins
@import "variables/_index.styl"
@import 'mixins.styl'


// Foundation
@import 'foundation/fonts.styl'
@import 'foundation/type.styl'
@import 'foundation/type__links.styl'
@import 'foundation/focus.styl'
@import 'foundation/a11y.styl'
// @import 'foundation/type__variants.styl'


// layout
@import 'layout/layout.styl'
@import 'layout/header.styl'
@import 'layout/footer.styl'
@import 'layout/row.styl'
// @import 'basic/header__nav.styl'


// Components
@import 'components/global.styl'
@import 'components/skip-link.styl'
@import 'components/images.styl'
@import 'components/tags.styl'
// @import 'components/nav.styl'
// @import 'components/navbar.styl'
// @import 'components/buttons.styl'
// @import 'components/scroll-to-top.styl'

// Pages
@import 'pages/index.styl'
@import 'pages/projects.styl'
@import 'pages/project.styl'
