// Core variables and mixins
// Grid: https://flexboxgrid.vivid-websolutions.nl/ https://github.com/vivid-web/flexbox-grid-stylus
@import 'variables/_index'
@import 'mixins.styl'
@import 'foundation/fonts.styl'
@import 'tokens.styl'
@import 'foundation/utils.styl'



// Core CSS
@import 'foundation/grid/container.styl'
//@import 'foundation/grid/row.styl'
//@import 'foundation/grid/col.styl'
@import 'foundation/grid/grid.styl'
@import 'foundation/focus.styl'
@import 'foundation/type.styl'
@import 'foundation/type__links.styl'
@import 'foundation/type__lists.styl'
@import 'global.styl'
@import 'layout/layout.styl'
@import 'components/skip-link.styl'
@import 'layout/header.styl'
@import 'layout/footer.styl'
//@import 'basic/header__nav.styl'

//@import 'foundation/type__variants.styl'
//@import 'foundation/type__variants.styl'
//@import 'foundation/type__misc.styl'
@import 'components/images.styl'

// Components
//@import 'components/*'
// @import 'components/nav.styl'
// @import 'components/navbar.styl'
// @import 'components/breadcrumb.styl'
// @import 'components/tags.styl'
// @import 'components/buttons.styl'
//@import 'components/pagination.styl'
// @import 'components/scroll-to-top.styl'

// Pages
@import 'pages/front.styl'
@import 'pages/contacts.styl'
@import 'pages/projects.styl'
@import 'pages/projects__page.styl'
//@import 'pages/other-pages.styl'
//@import 'pages/errors.styl'
//@import 'pages/*'
