// Variables and mixins
@import 'variables/_index'
@import 'mixins'


// Foundation
@import 'foundation/fonts'
@import 'foundation/type'
@import 'foundation/type__links'
@import 'foundation/type__lists'
@import 'foundation/focus'
// @import 'foundation/type__variants'
// @import 'foundation/type__variants'
// @import 'foundation/type__misc'


// layout
@import 'layout/layout'
@import 'layout/header'
@import 'layout/footer'
@import 'layout/row'
// @import 'basic/header__nav'


// Components
@import 'components/global'
@import 'components/skip-link'
@import 'components/images'
// @import 'components/nav'
// @import 'components/navbar'
// @import 'components/breadcrumb'
// @import 'components/tags'
// @import 'components/buttons'
// @import 'components/pagination'
// @import 'components/scroll-to-top'

// Pages
@import 'pages/front'
@import 'pages/contacts'
@import 'pages/projects'
@import 'pages/projects__page'
