//-Шаблон страницы
extends _templates/general


block head__meta

block head__scripts


block vars
	//- Активный пунт меню
	- var $menu_activeLink = "1"
	- var $h1 = "Обо мне"






block content
	section.hero-section
		//- h2 Первый блок без заголовка
		.photo
			picture
				source(type="image/webp", srcset='/index/i.webp 1x, /index/i@2x.webp 2x')
				img(src="/index/i.jpg", srcset="/index/i.jpg 1x, /index/i@2x.jpg 2x", alt="").photo__img.img-fluid
		.features
			mixin feature
				.features__item
					.features__text
						block


			+feature
				| Попробовал много разных методов и артефактов, развлекаюсь этим с 2011 года.

			// +feature
				| Проектирую
				<script>
					include ../js/_YearsCalc.js
				</script>

			+feature
				| Нравится проектировать сложные сервисы и работать в продуктовых компаниях.

			+feature
				| Популяризирую accessibility и люблю улучшать жизнь людей.

			+feature
				| Много читаю, хочу развиваться.



	mixin about-me-section($title, $modificator)
		section.section.about-me-section(class='--' + $modificator)
			.about-me-section__name-aligner
				img(src="/index/" + $modificator + ".svg", alt="").about-me-section__img
				h2.about-me-section__name=$title
			block

	.about-me-grid
		.col
			+about-me-section('Хард-скиллы', 'hard-skills')
				ul
					li Проектирование
						ul
							li Моделирование взаимодействия и процессов: User Flow, UML Activity Diagram, BPMN
							li Информационная архитектура
							li Написание интерфейсных текстов на русском и английском, стараюсь использовать информационный стиль, умею писать «вы» с маленькой буквы.
							li Прототипирование в Axure RP и Figma
					li Веб-аналитика: BigQuery, SQL, Google Analytics
					li UX-аналитика
						ul
							li Сбор системных требований, требований бизнеса и пользователей, ограничений, списка внешних интеграций
							li Use Case и UML Use Case Diagram для документации требований
							li Метод персон
							li Customer Journey Map
					li Исследования
						ul
							li Юзабилити-тестирование (лабораторные и коридорные)
							li Интервью
							li Анкетирование
							li Карточная сортировка
							li Анализ фидбэка пользователей
							li A/B-тестирование
			+about-me-section('Софт-скиллы', 'soft-skills')
				// Из статьи про софт-скиллы https://habr.com/ru/post/500192/
					'Ответственность, целеустремленность, позитивный настрой и прочие свойства характера человека, которые нужны при работе.'
					Ответственность
					Организованность
					Искренность и прямота
					Человечность
					Уважение окружающих
					Фокус на результат и обучаемость
					Самокритичность
				// Почитать раздатки с тренинга по софт-скиллам
				ul
					//li Дипломатичность
					li Развитое критическое мышление, стремлюсь к максимально объективным выводам, люблю замечать логические ошибки и искажения
					li Самостоятельность
					li Организованность, я адепт GTD и всяких продуктивных практик.
					li Ответственность
					li Высокий уровень эмпатии
					li Английский язык на уровне intermediate
		.col
			+about-me-section('Навыки в смежных областях', 'other-skills')
				p Раньше был человеком-оркестром и сожалею об этом. Но некоторые навыки помогают в работе.
				ul
					li Вёрстка: HTML, CSS, Stylus, Pug, вёрстка под скринридеры [9/10];
					li JavaScript [4/10];
					li jQuery [6/10];
					li Git [8/10];
					li SEO [7/10];
					li визуальный дизайн [7/10];
					li разработка под CMF MODX и Drupal [7/10];
					li Администрирование Linux [7/10];
					li Adobe Photoshop [7/10];
					li Adobe Illustrator [6/10];
					li Microsoft Excel/Word/Access/PowerPoint [8/10].
			+about-me-section('Интересы и увлечения', 'interests')
				p Наука, психология, урбанизм, архитектура, дизайн интерьеров, гаджеты, DIY, велопрогулки, фотография, игры, настолки, аниме, кино, фронтенд, бег, необычные физические активности.