//-Шаблон страницы
extends _templates/general


block head__meta

block head__scripts


block vars
	//- Активный пунт меню
	- var $menu_activeLink = "1"
	- var $h1 = "Обо мне"






block content
	section.hero-section
		//- h2 Первый блок без заголовка
		.photo
			picture
				source(type="image/webp", srcset='/index/i.webp 1x, /index/i@2x.webp 2x')
				img(src="/index/i.jpg", srcset="/index/i.jpg 1x, /index/i@2x.jpg 2x", alt="").photo__img.img-fluid
		.features
			mixin feature
				.features__item
					.features__text
						block


			+feature
				| Попробовал много разных методов и артефактов, развлекаюсь этим с 2011 года.

			+feature
				| Нравится проектировать сложные сервисы и работать в продуктовых компаниях.

			+feature
				| Популяризирую accessibility и люблю улучшать жизнь людей.

			+feature
				| Много читаю, хочу учить и развиваться.


	section.section.services-section
			.col
				h2 Чем помогаю
				ul
					li Проектирование сайтов, веб-сервисов, мобильных и десктопных приложений;
					li пользовательские исследования и аналитика;
					li написание интерфейсных текстов;
					li написание гайдов;
					li проектирование дизайн-систем и UI-китов;
					li UX-стратегия.
			.col
				h2 Мои роли
				ul
					li UX-дизайнер;
					li UX/UI-дизайнер;
					li продуктовый дизайнер;
					li дизайнер взаимодействия.

	mixin about-me-section($title, $modificator)
		section.section.about-me-section(class='--' + $modificator)
			.about-me-section__name-aligner
				img(src="/index/" + $modificator + ".svg", alt="").about-me-section__img
				h2.about-me-section__name=$title
			block

	.about-me-grid
		.col
			+about-me-section('Хард-скиллы', 'hard-skills')
				mixin scale($name, $value)
						.scale
							.scale__name= $name
							.scale__segments
								- for(var $i = 1; $i <= 10; $i++)
									.scale__segment(class={"--painted": $i <= $value})
				.scales
					+scale('UX-дизайн', 9)
					+scale('UI-дизайн', 7)
					+scale('Граф. дизайн', 3)
					+scale('UX-аналитика', 6)

				h3 Проектирование
				ul
					li Моделирование взаимодействия и процессов: User Flow, UML Activity Diagram, BPMN.
					li Информационная архитектура.
					li Написание интерфейсных текстов на русском и английском, стараюсь использовать информационный стиль, умею писать «вы» с маленькой буквы.
					li Прототипирование в Axure RP и Figma.
					li Проектирование дизайн-систем и UI-китов.
				h3 Исследования и UX-аналитика
				ul
					li Юзабилити-тестирование: лабораторные, коридорные и удалённые.
					li Customer Journey Map.
					li Метод персон.
					li Интервью.
					li Анкетирование.
					li Карточная сортировка.
					li Анализ фидбека пользователей.
					li A/B-тестирование.
					li Сбор системных требований, требований бизнеса и пользователей, ограничений, списка внешних интеграций.
					li Use Case и UML Use Case Diagram для документации требований.
					li Продуктовые, маркетинговые и бизнес-метрики.
					li Проверка гипотез.
					li BigQuery, SQL, Google Analytics, Amplitude.

			+about-me-section('Интересы и увлечения', 'interests')
				p Наука, психология, урбанизм, архитектура, дизайн интерьеров, гаджеты, DIY, велопрогулки, фотография, игры, настолки, интеллектуальное кино, фронтенд, бег, необычные физические активности, шаверма.
		.col
			+about-me-section('Софт-скиллы', 'soft-skills')
				ul
					li Развитое критическое мышление, стремлюсь к максимально объективным выводам, люблю замечать логические ошибки и искажения.
					li Самостоятельность.
					li Организованность, я адепт GTD и всяких продуктивных практик.
					li Ответственность.
					li Высокий уровень эмпатии.
					li Фасилитация.
					li Работа по Scrum, прошёл трёхдневный тренинг по Agile.
					li Отдача и получение фидбека.
					li Английский язык на уровне Intermediate.
			+about-me-section('Навыки в смежных областях', 'other-skills')
				p Раньше был человеком-оркестром, иногда сожалею об этом. Но некоторые навыки сейчас помогают в работе.
				ul
					li Вёрстка: HTML, CSS, Stylus, Twig, Pug, вёрстка под скринридеры [9/10].
					li JavaScript [4/10].
					li jQuery [6/10].
					li Git [8/10].
					li SEO [7/10].
					li Визуальный дизайн [7/10].
					li Разработка под Craft CMS, MODX, Drupal [7/10].
					li Adobe Illustrator [6/10].
					li Adobe Photoshop [7/10].
					li Microsoft Excel/Word/Access/PowerPoint [8/10].