//-Шаблон страницы
extends _templates/general

block prepend title
	- var pageTitle = "Обо мне"
	| #{pageTitle +". "}


block head__meta

block head__scripts

block page-title
	//- | #{pageTitle}
	| #{pageTitle}

block vars

	//- Активный пунт меню
	- var $menu_activeLink = "1"






block content
	section.front-section
		h2 Навыки