//-Шаблон страницы
extends _templates/general


block head__meta

block head__scripts


block vars
	//- Активный пунт меню
	- var $menu_activeLink = "1"
	- var $h1 = "Обо мне"






block content
	section.hero-section
		//- h2 Первый блок без заголовка
		.photo
			picture
				source(type="image/webp", srcset='/index/i.webp')
				img(src="/index/i.jpg" alt="").photo__img.img-fluid
		.features
			mixin feature
				.features__item
					.features__text
						block

			+feature
				| Люблю проектировать сервисы, улучшать жизнь людей и работать в продуктовых компаниях.

			+feature
				| Проектирую
				<script>
					include ../js/_YearsCalc.js
				</script>

			+feature
				| Организую митап по веб-доступности.

			+feature
				| Работаю над собой и много читаю.



	mixin about-me-section($title, $modificator)
		section.section.about-me-section(class='--' + $modificator)
			.about-me-section__name-aligner
				img(src="/index/" + $modificator + ".svg", alt="").about-me-section__img
				h2.about-me-section__name=$title
			block

	.about-me-grid
		.col
			+about-me-section('Хард-скиллы', 'hard-skills')
				ul
					li Проектирование
						ul
							li Прототипирование в Axure RP (нет ничего лучше для сложных взаимодействий), Figma
							li Моделирование процессов: User Flow, UML Activity Diagram, BPMN
							li Информационная архитектура
							li Написание интерфейсных текстов, умею писать «вы» с маленькой буквы
					li Веб-аналитика: BigQuery, SQL, Google Analytics
					li UX аналитика
						ul
							li Разработка требований к ПО
							li Метод персон
							li Customer Journey Map
							li Метод персон
					li Исследования
						ul
							li Юзабилити-тестирование (лабораторные и коридорные)
							li Интервью
							li Анкетирование
							li Карточная сортировка
							li Анализ фидбэка пользователей
							li A/B-тестирование
			+about-me-section('Софт-скиллы', 'soft-skills')
				ul
					li Дипломатичность
					li Развитое критическое мышление
					li Самостоятельность
					li Высокая организованность и работоспособность, я адепт GTD и всяких продуктивных практик.
					li Высокий уровень эмпатии
		.col
			+about-me-section('Навыки в смежных областях', 'other-skills')
				p В прошлом человек-оркестр. Создавал сайты, исполняя роли руководителя проектов, проектировщика, графического дизайнера, верстальщика и разработчика одновременно.
				ul
					li Вёрстка, HTML, CSS, LESS, Stylus, Pug [9/10];
					li jQuery [6/10];
					li SQL []
					li Git [8/10];
					li SEO [7/10];
					li визуальный дизайн [7/10];
					li JavaScript, PHP, С++  [4/10];
					li разработка под CMS/CMF MODX и Drupal [7/10];
					li Администрирование Linux и Windows [7/10];
					li Adobe Photoshop (визуальный дизайн, фотомонтаж, обработка изображений, анимация) [7/10];
					li Adobe Illustrator [6/10];
					li Microsoft Excel/Word/Access/PowerPoint [9/10];
					li английский язык [intermediate];
			+about-me-section('Интересы и увлечения', 'interests')
				p Наука, архитектура, промышленный и городской дизайн, дизайн интерьеров, психология, современные технологии, компьютерная техника.	DIY, велопрогулки, цифровая и аналоговая фотография, интеллектуальное кино, бег.