//-Шаблон страницы
extends _templates/general


block head__meta

block head__scripts


block vars
	//- Активный пунт меню
	- var $menu_activeLink = "1"
	- var $h1 = "About me"






block content
	section.hero-section
		//- h2 Первый блок без заголовка
		.hero-section__photo
			picture
				source(type="image/webp", srcset='/index/i.webp 1x, /index/i@2x.webp 2x')
				img(src="/index/i.jpg", srcset="/index/i.jpg 1x, /index/i@2x.jpg 2x", alt="").hero-section__photo__img.img-fluid
		.hero-section__text-col
			.hero-section__features
				mixin feature
					.hero-section__features__item
						.hero-section__features__text
							block


				+feature
					| I’ve tried to work with different methods and artefacts, I've been having fun with this since 2011.
					//-  (Переписать) Попробовал много разных методов и артефактов, развлекаюсь этим с 2011 года.

				+feature
					| I’m an accessibility enthusiast and like to make people’s lives better. 
					//- | Нравится проектировать сложные сервисы и работать в продуктовых компаниях.

				+feature
					| I’m an accessibility enthusiast and like to make people’s lives better. 
					//- | Популяризирую accessibility и люблю улучшать жизнь людей.

				+feature
					| I read a lot, want to teach other people and self-improving.
					//- | Много читаю, хочу учить и развиваться.

			.hero-section__services
				.col
					h2 How Can I Help
					ul
						li Design websites, web services, mobile and desktop apps.
						li Conduct user research.
						li Write UX texts.
						li Write guides.
						li Create design systems and UI-kits.
						li Create UX strategy.
					//- ul
						li Проектирование сайтов, веб-сервисов, мобильных и десктопных приложений;
						li пользовательские исследования и аналитика;
						li написание интерфейсных текстов;
						li написание гайдов;
						li проектирование дизайн-систем и UI-китов;
						li UX-стратегия.
				.col
					h2 My Roles
					ul
						li UX Designer.
						li UX/UI Designer.
						li Product Designer.
						li Interaction Designer.

	mixin about-me-section($title, $emoji)
		section.section.about-me-section
			.about-me-section__name-aligner
				//- img(src="/index/" + $modificator + ".svg", alt="").about-me-section__img
				.about-me-section__img= $emoji
				h2.about-me-section__name=$title
			block

	.about-me-grid
		.col
			+about-me-section('Hard Skills', '🧠')
				mixin scale($name, $value)
						.scale
							.scale__name= $name
							.scale__segments
								- for(var $i = 1; $i <= 10; $i++)
									.scale__segment(class={"--painted": $i <= $value})
				.scales
					+scale('UX design', 9)
					+scale('UI design', 7)
					+scale('Graphic design', 3)
					+scale('UX analysis', 6)

				h3 Design
				ul
					li Creating of interaction models and processes: User Flow, UML Activity Diagram, BPMN.
					li Information architecture.
					li Writing UX texts in English and Russian. I use an informative and succinct text style.
					li Designing and prototyping in Figma, Axure RP. I have an advanced level, and create complex components based on auto layout or can write a plugin with JavaScript.
					li Creating design systems and UI kits.
				//- ul
					li Моделирование взаимодействия и процессов: User Flow, UML Activity Diagram, BPMN.
					li Информационная архитектура.
					li Написание интерфейсных текстов на русском и английском, стараюсь использовать информационный стиль, умею писать «вы» с маленькой буквы.
					li Дизайн/прототипирование в Figma и Axure RP. Продвинутый уровень: делаю сложные компоненты на auto layout, могу написать плагин на JS.
					li Проектирование дизайн-систем и UI-китов.
				h3 User Research and Product Analytics
				ul
					li Usability testing. For example, lab testing, hallway testing (guerrilla usability) and remote usability testing.
					li Customer Journey Map.
					li Persona method.
					li Interviews.
					li Surveys.
					li Card sorting.
					li User feedback analysis.
					li A/B testing.
					li Capturing project requirements. For example, business, system and users requirements, limitations, information about third-party integrations.
					li Use Case and UML Use Case Diagram for documentation.
					li Product, marketing and business metrics.
					li Hypothesis testing.
					li BigQuery, SQL, Google Analytics, Amplitude.
				//- ul
					li Юзабилити-тестирование: лабораторные, коридорные и удалённые.
					li Customer Journey Map.
					li Метод персон.
					li Интервью.
					li Анкетирование.
					li Карточная сортировка.
					li Анализ фидбека пользователей.
					li A/B-тестирование.
					li Сбор системных требований, требований бизнеса и пользователей, ограничений, списка внешних интеграций.
					li Use Case и UML Use Case Diagram для документации требований.
					li Продуктовые, маркетинговые и бизнес-метрики.
					li Проверка гипотез.
					li BigQuery, SQL, Google Analytics, Amplitude.

			+about-me-section('Interests and Hobbies', '👾')
				p Modular synths, frontend development, investments, urbanism, architecture, games, psychology, cycling, running, shawarma.
		.col
			+about-me-section('Soft Skills', '🤝')
				ul
					li Critical thinking. I try to make objective conclusions and notice cognitive biases.
					li Self-dependence.
					li Organization. I’m a big fan of GTD and other productivity practices.
					li Height level of empathy.
					li Facilitation, Scrum and Agile. I’ve had a Agile training.
					li Communication and work with feedback.
					li English, Intermediate level.
				//- ul
					li Развитое критическое мышление, стремлюсь к максимально объективным выводам, люблю замечать логические ошибки и искажения.
					li Самостоятельность.
					li Организованность, я адепт GTD и всяких продуктивных практик.
					li Ответственность.
					li Высокий уровень эмпатии.
					li Фасилитация.
					li Работа по Scrum, прошёл трёхдневный тренинг по Agile.
					li Отдача и получение фидбека.
					li Английский язык на уровне Intermediate.
			+about-me-section('Extra Skills', '📎')
				p Previously I was a Jack of all trades. Now these skills helps me a lot at current work.
				ul
					li Frontend: JavaScript/TypeScript, HTML, CSS, Stylus, SASS, BEM, screen readers supporting.
					li Template Engines: Twig, Nunjacks, Pug, 11ty.
					li Git (basics).
					li SEO (basics).
					li Development for Craft CMS, MODX, Drupal.
					li Adobe Illustrator.
					li Adobe Photoshop.
					li Microsoft Excel/Word/Access/PowerPoint (advanced).
				//- ul
					li Вёрстка: HTML, CSS, Stylus, Twig, Pug, вёрстка под скринридеры [9/10].
					li JavaScript [4/10].
					li jQuery [6/10].
					li Git [8/10].
					li SEO [7/10].
					li Визуальный дизайн [7/10].
					li Разработка под Craft CMS, MODX, Drupal [7/10].
					li Adobe Illustrator [6/10].
					li Adobe Photoshop [7/10].
					li Microsoft Excel/Word/Access/PowerPoint [8/10].