---
title: About me
description: ____
layout: page.njk
permalink: /
---

<section class="hero-section">
	<div class="hero-section__text-col">
		<div class="hero-section__heading-row">
			<p class="hero-section__greeting">Hi there</p>
			{% image src="images/cat.png", className="hero-section__heading-img", alt="", width=32, priority="high" %}
		</div>
		<p class="hero-section__subtitle">I'm Vasya, senior product designer based in London</p>
		<ul class="hero-section__list">
			<li>Product design, UX Design</li>
			<li>Design systems</li>
			<li>Design management</li>
			<li>Mentoring</li>
		</ul>
	</div>
	{% image src="images/photo.jpg", className="hero-section__img", alt="My photo", width=200, priority="high" %}
	{% image src="images/bg.jpg", className="hero-section__bg", alt="", width=922, priority="high" %}
</section>

<section class="front-section">
	{% md %}
		## Highlights
	{% endmd %}
	<div class="work-highlights">
		<div class="work-highlights__item">
			14 years designing B2B and B2C products across SaaS, EdTech, and E-commerce
		</div>
		<div class="work-highlights__item">
			Deep expertise in design, research, and accessibility
		</div>
		<div class="work-highlights__item">
			Ex Semrush and Yandex
		</div>
		<div class="work-highlights__item">
			Working knowledge of frontend: JS, React, Vue, HTML, CSS
		</div>
	</div>
</section>

<section class="front-section">
	{% md %}
		## Hobbies and interests
		Modular synthesizers, photography, front-end, video games, investments, urbanism, architecture, gadgets, running, shawarma.
	{% endmd %}
</section>

{% include "contacts-block.njk" %}