---
title: About me
description: ____
layout: page.njk
permalink: /
---

<section class="front-section hero-section">
	{% image "images/me.jpg", "hero-section__img", "", 240 %}
	<div class="hero-section__text">
		{% md %}
			### Hi, I’m Vasiliy
			- Product and UX designer based in Tbilisi, Georgia.
			- I'm in love with design, UX research, design systems, DesignOps, accessibility and inclusive design.
		{% endmd %}
	</div>
</section>
<section class="front-section">
	{% md %}
		## Skills
		- UI tools: expert-level skills in Figma and Axure RP, where I can build complex components with auto layout and develop plugins with JavaScript. Familiar with additional tools like ProtoPie, Adobe Illustrator and Animator.
		- Analytical tools and modeling: CJM, UML Use Case Diaram, Scenario Map, Service Blueprint, User Flow, UML Activity Diagram, BPMN, Information Architecture.
		- Research: usability testing, interviews, questionnaires, Jobs to be Done, card sorting, A/B testing, metrics, web analytics (Google Analytics and Amplitude).
		- UX writing in English.
		- Frontend development: JavaScript, HTML, CSS/SASS/Stylus, 11ty, accessible UI development, Git.
	{% endmd %}
</section>
<section class="front-section">
	{% md %}
		## Career journey
		- Dec 2022 - Present: Netology, Senior Product Designer
		- Jul 2021 - May 2022: Practicum, Senior Product Designer
		- Jun 2018 - Jan 2020: Semrush, Senior UX Designer
		- Feb 2018 - Jun 2018: Binomo, UX/UI Designer
		- Jun 2011 - Feb 2017: Fleelance, UX Designer
	{% endmd %}
</section>
<section class="front-section">
	{% md %}
		## Hobbies and interests
		Modular synthesizers, front-end, video games, investments, urbanism, architecture, gadgets, photography, running, shawarma.
	{% endmd %}
</section>