---
title: About me
description: ____
layout: page.njk
permalink: /
---

<section class="hero-section">
	<div class="hero-section__text-col">
		<div class="hero-section__heading-row">
			<p class="hero-section__greeting">Hi there, I'm Vasya</p>
			{% image src="images/cat.png", className="hero-section__heading-img", alt="", width=32, priority="high" %}
		</div>
		<p class="hero-section__subtitle">Senior Product Designer,</p>
		<p class="hero-section__subtitle">14 years of experience, based in London</p>
	</div>
	{% image src="images/photo.jpg", className="hero-section__img", alt="My photo", width=200, priority="high" %}
	{% image src="images/bg.jpg", className="hero-section__bg", alt="", width=922, priority="high" %}
</section>

<section class="front-section">
	{% md %}
		## Specialisation
		Specialising in complex B2B and B2C products across SaaS, EdTech, and E-commerce.
	{% endmd %}
	<ul class="hero-section__list">
		<li>Product design, UX Design</li>
		<li>Design systems</li>
		<li>Accessibility</li>
		<li>Mentoring</li>
	</ul>
</section>

<section class="front-section">
	{% md %}
		## My Superpowers
	{% endmd %}
	<ul class="work-highlights">
		<li class="work-highlights__item">
			<span class="work-highlights__title">Deep expertise in design</span>
			<span class="work-highlights__description">Including UX research, accessibility and design tools like Figma or Axure RP</span>
		</li>
		<li class="work-highlights__item">
			<span class="work-highlights__title">Systems thinking and data</span>
			<span class="work-highlights__description">I see the bigger picture and advocate for data-driven and data-informed approaches</span>
		</li>
		<li class="work-highlights__item">
			<span class="work-highlights__title">Technical fluency</span>
			<span class="work-highlights__description">Knowledge of JS, React, Vue, HTML, CSS and Figma API helps me talk to developers</span>
		</li>
		<li class="work-highlights__item">
			<span class="work-highlights__title">Elevating teams and raising UX maturity</span>
			<span class="work-highlights__description">Mentoring, workshops, and optimising agile workflows</span>
		</li>
	</ul>
</section>

<section class="front-section">
	{% md %}
		## Hobbies and interests
		Modular synthesizers, photography, frontend, video games, investments, urbanism, architecture, gadgets, running, shawarma.
	{% endmd %}
</section>

{% include "contacts-block.njk" %}