<!DOCTYPE html>
<html class="page" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ description or site.description }}">
	<title>{{ title + " / " + site.title or site.title}}</title>
	<link rel="stylesheet" href="/styles/bundle.css">
	<link rel="preload" href="/fonts/inter-variable.woff2" crossorigin="" as="font" type="font/woff2">
	<link rel="preload" href="/fonts/roboto-slab-variable.woff2" crossorigin="" as="font" type="font/woff2">

	{% include "open-graph.njk" %}
	{#Favicons#}
	<link rel="icon" type="image/svg+xml" href="/assets/favicons/favicon.svg">
	<link rel="icon" type="image/png" href="/assets/favicons/favicon.png">
	<link rel="manifest" href="/manifest.json">
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NM3PW6Z');</script>
	<!-- End Google Tag Manager -->
</head>



<body class="body">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NM3PW6Z"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	{% include "header.njk" %}
	<div class="container">
		<main class="main{{ ' main--' + projectType if projectType }}" id="main-content">
			{{ content | safe }}
		</main>
	</div>


	{% include "footer.njk" %}

	<script type="module" src="/scripts/scripts.js"></script>
</body>
</html>
