<!DOCTYPE html>
<html class="page" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ description or site.description }}">
	<title>{{ title + " / " + site.title  + ", " + site.description}}</title>
	<link rel="stylesheet" href="{{ "/styles/bundle.css" | filehash }}">
	<link rel="preload" href="/fonts/inter-variable.woff2" crossorigin="" as="font" type="font/woff2">
	<link rel="preload" href="/fonts/roboto-slab-variable.woff2" crossorigin="" as="font" type="font/woff2">

	{% include "open-graph.njk" %}
	{#Favicons#}
	<link rel="icon" type="image/svg+xml" href="/assets/favicons/favicon.svg">
	<link rel="icon" type="image/png" href="/assets/favicons/favicon.png">
	<link rel="manifest" href="/manifest.json">
</head>



<body class="body">
	{% include "header.njk" %}
	<main class="main{% if layout in ['project', 'projects'] %} --no-gap{% endif %}" id="main-content">
		{{ content | safe }}
	</main>


	{% include "footer.njk" %}
	<a class="scroll-to-top" href="#" aria-label="Scroll up"></a>
	{% if env === "production" %}
		<script defer data-domain="dudin.design" src="https://analytics.dudin.design/js/script.js"></script>

		<script>
			window.plausible = window.plausible || function() { 
				(window.plausible.q = window.plausible.q || []).push(arguments) 
			};
			window.addEventListener('load', function() {
				plausible('pageview', {
				props: {
					screen_width: window.innerWidth,
					screen_height: window.innerHeight,
					screen_resolution: `${window.innerWidth}x${window.innerHeight}`,
					device_pixel_ratio: window.devicePixelRatio
				}
				});
			});
			</script>
	{% endif %}	

	<script type="module" src="{{ "/js/bundle.js" | filehash }}" crossOrigin="anonymous"></script>
	{% if layout == "project" %}
		<link rel="stylesheet" href="{{ "/styles/fancybox.css" | filehash }}">
		<script type="module" src="{{ "/js/fancybox.js" | filehash }}" crossOrigin="anonymous"></script>
	{% endif %}
</body>
</html>
