<!DOCTYPE html>
<html class="page" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ description or site.description }}">
	<title>{{ title + " / " + site.title or site.title}}</title>
	<link rel="stylesheet" href="{{ "/styles/bundle.css" | filehash }}">
	<link rel="preload" href="/fonts/inter-variable.woff2" crossorigin="" as="font" type="font/woff2">
	<link rel="preload" href="/fonts/roboto-slab-variable.woff2" crossorigin="" as="font" type="font/woff2">

	{% include "open-graph.njk" %}
	{#Favicons#}
	<link rel="icon" type="image/svg+xml" href="/assets/favicons/favicon.svg">
	<link rel="icon" type="image/png" href="/assets/favicons/favicon.png">
	<link rel="manifest" href="/manifest.json">
</head>



<body class="body">
	{% include "header.njk" %}
	<main class="main" id="main-content">
		{{ content | safe }}
	</main>


	{% include "footer.njk" %}
	<a class="scroll-to-top" href="#" aria-label="Scroll up"></a>
	{% if env === "production" %}
		<!-- Yandex.Metrika counter -->
		<script>
			(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym"); ym(22876318, "init", { clickmap:true, trackLinks:false, accurateTrackBounce:true, webvisor:true});
		</script>

		<script defer data-domain="dudin.design" src="https://analytics.vasiliy-dudin.com/js/script.js"></script>
	{% endif %}	

	<script type="module" src="{{ "/js/bundle.js" | filehash }}" crossOrigin="anonymous"></script>
</body>
</html>
