---
layout: _base.njk
---
{% if fullWidth %}
	<h1{% if permalink == '/' %} class="visually-hidden"{% endif %}>{{ title }}</h1>
	{{ content | safe }}
{% else %}
	<div class="container">
		<h1{% if permalink == '/' %} class="visually-hidden"{% endif %}>{{ title }}</h1>
		{{ content | safe }}
	</div>
{% endif %}