---
layout: _base.njk
---

{% for collection in [collections.caseStudyProjects, collections.screenshotsProjects, collections.petProjects] %}
	<section class="project-list-container --{{ loop.index }}">
		<div class="container">
			{% if loop.index == 1 %}
				<h1>{{ title }}</h1>				
				{{ content | safe }}
			{% endif %}	

			<div class="heading-row">
				<h2 aria-describedby="counter-{{ loop.index }}">{{ sectionName[loop.index0] }}</h2>
				<span class="badge heading-row__badge" id="counter-{{ loop.index }}">{{ collection.length }}</span>	
			</div>				
			<div class="project-list{% if loop.index == 2 %} --compact{% endif %}">		
				{% for project in collection %}
					{% set imageClass = "project-card__img " + ("--compact" if project.data.type == "screenshots" else "--default") %}
					<article class="project-card {% if project.data.type == 'screenshots' %}--compact{% else %}--default{% endif %}">
						{% setAsync "imageHtml" %}
							{% image src=project.fileSlug + "/cover.jpg", className=imageClass, alt="", width=450, priority="high" %}
						{% endsetAsync %}
						{{ imageHtml | safe }}
						<div class="project-card__text">
							<a class="project-card__link" href="{{ project.data.permalink }}">
								{{ project.data.title }}
							</a>
							<div class="project-card__desc">{{ project.data.description }}</div>
					{% if project.data.highlights %}
					<ul class="project-card__highlights">
						{%- for item in project.data.highlights -%}
						<li>{{ item }}</li>
						{%- endfor -%}
					</ul>
					{% endif %}

						</div>
					</article>
				{% endfor %}
			</div>
		</div>
	</section>
{% endfor %}
