---
layout: _base.njk
---

{% for collection in [collections.caseStudyProjects, collections.petProjects] %}
	<section class="project-list-container --{{ loop.index }}">
		<div class="container">
			{% if loop.index == 1 %}
				<h1>{{ title }}</h1>				
				{{ content | safe }}
			{% endif %}	

			<div class="heading-row">
				<h2 aria-describedby="counter-{{ loop.index }}">{{ sectionName[loop.index0] }}</h2>
				<span class="badge heading-row__badge" id="counter-{{ loop.index }}">{{ collection.length }}</span>	
			</div>				
			<div class="project-list">		
				{% for project in collection %}		
					<article class="project-card">
						{% setAsync "imageHtml" %}
							{% image src=project.fileSlug + "/cover.jpg", className="project-card__img", alt="", width=450, priority="high" %}
						{% endsetAsync %}
						{{ imageHtml | safe }}
						<div class="project-card__text">
							<div class="project-card__tags tags">
								{% for tag in project.data.category %}
									<span class="tag --{{ tag | lower | replace(' ', '-') }}">{{ tag }}</span>
								{% endfor %}
							</div>
							<a class="project-card__link" href="{{ project.data.permalink }}">
								{{ project.data.title }}
							</a>
							<div class="project-card__desc">{{ project.data.description }}</div>

						</div>
					</article>
				{% endfor %}
			</div>
		</div>
	</section>
{% endfor %}
