---
layout: _base.njk
---


<div class="project-nav">
	{% if page.url %}
		{% set firstPartOfUrl = page.url.split('/')[1] %}
		{% for item in menu %}
			{% if firstPartOfUrl in item.href%}			
				<a href="{{ item.href }}" class="project-nav__back">{{ item.name }}</a>
			{% endif %}
		{% endfor %}
	{% endif %}

	{% set collection = "" %}
	{# Neighbours #}
	{% if page.url and "case-studies" in page.url %}
		{% set collection = collections.workProjects %}
	{% endif %}
	{% if page.url and "pet-projects" in page.url %}
		{% set collection = collections.petProjects %}
	{% endif %}

	{% set previousPage = collection | getPreviousCollectionItem %}
	{% set nextPage = collection | getNextCollectionItem %}
	{% if previousPage or nextPage %}
		<div class="project-nav__neighbours">
			{% if previousPage %}
				<a class="project-nav__neighbour-lnk" href="{{ previousPage.url }}" title="{{ previousPage.data.title }}">
					<img class="project-nav__icon --prev" src="/assets/arrow-neighbours.svg" alt="">
					Previous
				</a>
			{% endif %}
			{% if nextPage %}
				<a class="project-nav__neighbour-lnk" href="{{ nextPage.url }}" title="{{ nextPage.data.title }}">
					Next
					<img class="project-nav__icon --next" src="/assets/arrow-neighbours.svg" alt="">
				</a>
			{% endif %}
		</div>
	{% endif %}
</div>


<header class="project-header">
	<div class="project-header__art">
		{% include "../assets/bg-lines-2.svg" %}
	</div>
	{% image "/cover-wide.jpg", "project-header__img", "", 920 %}
	<div class="project-header__content">
		<h1 class="project-header__h1">{{ title }}</h1>
		<div class="project-header__description">{{ description }}</div>
		<div class="project-header__date">{{ years }}</div>
		<div class="tags">
			{%- for tag in category -%}
				<span class="tag --{{ tag | lower | replace(' ', '-') }}">{{ tag }}</span>
			{%- endfor -%}
		</div>
	</div>
</header>

<div class="project-body">
	{{ content | safe }}
</div>
{% include "contacts-block.njk" %}