---
layout: _base.njk
---

{% macro neighbours(where) %}
	{# Neighbours #}
	{% set collection = collections.allProjects %}
	{% set previousPage = collection | getPreviousCollectionItem %}
	{% set nextPage = collection | getNextCollectionItem %}
	{% if previousPage or nextPage %}
		<div class="project-neighbours">
			{% if previousPage %}
				<a class="project-neighbours__lnk --prev" href="{{ previousPage.url }}" title="{{ previousPage.data.title }}">
					<img class="project-neighbours__icon --prev" src="/assets/arrow-neighbours.svg" alt="">
					Previous
				</a>
			{% endif %}
			{% if nextPage %}
				<a class="project-neighbours__lnk --next" href="{{ nextPage.url }}" title="{{ nextPage.data.title }}">
					Next
					<img class="project-neighbours__icon --next" src="/assets/arrow-neighbours.svg" alt="">
				</a>
			{% endif %}
		</div>
	{% endif %}
{% endmacro %}


<div class="container project-cols">
	<div class="project-col-2">
		
		<div class="project-nav">
			{{ neighbours() }}
			{{ content | toc | safe }}</div>
	</div>
	
	<div class="project-col-1">
		<div class="project-header-container">
			<header class="project-header">
				{% image "/cover-wide.jpg", "project-header__img", "", 920 %}
				<div class="project-header__content">
					<div class="project-header__h1-row">
						<h1 class="project-header__h1">{{ title }}</h1>
						{{ neighbours() }}
					</div>
					<div class="project-header__description">{{ description }}</div>
					<div class="project-header__date">{{ years }}</div>
					<div class="tags">
						{%- for tag in category -%}
							<span class="tag --{{ tag | lower | replace(' ', '-') }}">{{ tag }}</span>
						{%- endfor -%}
					</div>
				</div>


			</header>
		</div>

		<div class="project-body">
			{{ content | safe }}
		</div>
		{% include "contacts-block.njk" %}
	</div>
</div>