//===========================
// Text Variants
//===========================
// Aling
.text
	+bem-variant(left)
		text-align: left
	+bem-variant(right)
		text-align: right
	+bem-variant(center)
		text-align: center
	+bem-variant(justify)
		text-align: justify !important
	+bem-variant(text-nowrap)
		white-space: nowrap !important
	+bem-variant(truncate)
		text-truncate()

// Transformation
.text
	+bem-variant(lowercase)
		text-transform: lowercase !important
	+bem-variant(uppercase)
		text-transform: uppercase !important
	+bem-variant(capitalize)
		text-transform: capitalize !important


// Weight and italics
.font-weight-normal
	font-weight: $font-weight-normal

.font-weight-bold
	font-weight: $font-weight-bold

.font-italic
	font-style: italic