//-Шаблон страницы
extends ../_templates/general

block head__meta

block head__scripts

block vars
	//- Активный пунт меню
	- var $menu_activeLink = "3"
	- var $h1 = "Contacts"


block content
	section.section.section--contacts
	ul.contacts
			li.contacts__item: span Email: me@vasiliy-dudin.com
			li.contacts__item: a(href="tg://resolve?domain=VasiliyDudin" rel="nofollow noopener noreferrer" data-ga-label="Telegram").link Telegram
			li.contacts__item: a(href="https://twitter.com/vasiliy_dudin" target="_blank" rel="nofollow noopener noreferrer" data-ga-label="Twitter").link Twitter
			li.contacts__item: a(href="https://www.instagram.com/vasiliy.dudin" target="_blank" rel="nofollow noopener noreferrer" data-ga-label="Instagram").link Instagram
			li.contacts__item: a(href="https://www.facebook.com/dudin.vasiliy" target="_blank" rel="nofollow noopener noreferrer" data-ga-label="Facebook").link Facebook
			li.contacts__item: a(href="https://open.spotify.com/user/31gigmeq5kizturdujierypd4xte?si=f708ae235d494af4" target="_blank" rel="nofollow noopener noreferrer" data-ga-label="Spotify").link Spotify