//-Шаблон страницы
extends ../_templates/general

block head__meta

block head__scripts

block vars
	//- Активный пунт меню
	- var $menu_activeLink = "3"
	- var $h1 = "Контакты"


block content
	section.section.section--contacts
			.contact-item
				a(href="mailto:me@vasiliy-dudin.com" target="_blank" rel="nofollow noopener noreferrer").contact-lnk
					i.contact-lnk__icon
						include icons/_email.svg
					.contact-lnk__text me@vasiliy-dudin.com
			.contact-item
				a(href="skype:vasiliy.dudin?chat" rel="nofollow noopener noreferrer").contact-lnk
					i.contact-lnk__icon
						include icons/_skype.svg
					.contact-lnk__text vasiliy.dudin

			.contact-item
				a(href="https://telegram.me/VasiliyDudin" target="_blank" rel="nofollow noopener noreferrer").contact-lnk
					i.contact-lnk__icon
						include icons/_telegram.svg
					.contact-lnk__text vasiliy.dudin