---
layout: page.njk
permalink: index.html
---

<div class="container">
	<div class="content">
		<main class="main anchor-target" id="main-content">
			<h1 class="visually-hidden">About me, my skills, projects and activities</h1>

			<div class="two-column-section">
				<div>
					<p>Hi! My name is Tanya and I’m a frontend developer.</p>
					<p>I'm fond of the web. I like to learn and explore something new about development and gain useful developer skills. My main professional goal is helping to create accessible, adaptive, and user-friendly interfaces which people like.</p>
					<p>I write and translate articles about accessibility, write posts about it in <a href="https://tatiana-fokina-blog.ru">my blog</a>, and sometimes I have talks. Also, I'm a co-organizer of the first Russian language meetup about accessibility pitera11y_meetup.</p>
				</div>
				<div>
					{#{% image "./src/pages/images/hero-photo.png", "fluid-image", "A pale girl with mousy-brown neck-length hair and grey and green eyes. Her head slightly turn to the right. She is wearing a navy blue shirt.", 420 %}#}
				</div>
			</div>

			<h2 class="anchor-target" id="skills">Skills 🧠</h2>
			{% include "skills-list.njk" %}

			<h2 class="anchor-target" id="projects">Projects 🧪</h2>
			{% include "project-cards.njk" %}

			<h2 class="anchor-target" id="mediaLife">Activities 🎤</h2>
			<p>Sometimes I join an IT-podcasts and have talks at meetups and conferences about you can guess the topic 😉 Once I drove a big collective Twitter account for developers called jsunderhood.</p>
			{% include "activity.njk" %}
			<h3>Articles and Translations</h3>
			<p>I like to share my knowledge with other people and learn something new by myself. Therefore I write and translate texts about accessibility when I don't write a code.</p>
			<p>Here are a few of my articles.</p>
			<ul class="writes">
				<li class="writes__item">
					<a href="{{ links.public.articleFirst }}">‘Accessibility Audit: Basics’</a> (RU).
				</li>
				<li class="writes__item">
					<a href="{{ links.public.articleSecond }}">‘Accessibility and Law’</a> (RU).
				</li>
				<li class="writes__item">
					<a href="{{ links.public.articleThird }}">The article for a Russian language open-source project ‘Doka’ about screen readers</a> (RU).
				</li>
				<li class="writes__item">Translation of Heydon Pickering's article
					<a href="{{ links.public.articleTranslate }}">‘Tabbed Interfaces’</a> (RU).
				</li>
			</ul>
			<p>You can find a complete list of my posts, articles, and translations on
				<a href="{{ links.public.linksRepo }}">GitHub</a>.
			</p>
			<h3>Pitera11y_meetup</h3>
			<div class="two-column-section">
				<div>
					<p>This is the first Russian language meetup about accessibility. The audience is various. The meetup is for developers, designers, QA engineers, technical writers, and everybody else who is a part of creating something on the Internet.</p>
					<p>I like other organizers who find speakers, help to make talks, arrange with owners of platforms and places, write announcements and create graphics. The most interesting part of it add manual Russian captions for the meetup video. There is
						<a href="{{ links.public.pitera11yPlaylist }}">a list of every talks on YouTube</a>.
					</p>
				</div>
			</div>

			<h2 class="anchor-target" id="contacts">Contacts 📬</h2>
			<p>Now I'm looking for a job opportunity. If you want to see my CV, share open positions, or just say ‘Hi 👋’ then you can write an email to <a href="mailto:{{ links.social.email }}">fokinatatian@gmail.com</a>. Also, you can find me on Telegram messenger. Just search <a href="{{ links.social.telegram }}">@fokina_tatiana</a>.</p>
		</main>
	</div>
</div>
