//-Шаблон страницы
extends ../../_templates/project-page

block head__meta

block head__scripts

block vars
	//- ID проекта. По нему вытаскиваем нужные поля.
	- var $projectID = "1"


block content
	+section("О компании")
		+section_inner
			p Сервис для интернет-маркетологов. Помогает выполнять ежедневную и рутинную работу: отслеживать эффективность сайта, оценивать положение продукта в сети, анализировать конкурентов и многое другое. Сейчас там 6 млн. пользователей из Америки, Европы, Азии и Австралии.
		+section_inner
			p Над сервисом работают 800 человек из 4 стран. Каждый UX-проектировщик привязан к UI-дизайнеру и нескольким командам разработки.
			//- +img-project($filename='181222_semrush_NY19_293 1', $extension='jpg', $size='xl', $alt='')
	+section("Обязанности")
		+section_inner
			ul
				li Был частью департамента из 17 UX-дизайнеров и 10 UI-дизайнеров.
				li Проектировал для 3 команд разработки, работали по Scrum и Kanban.С одной из команд делал Site Audit, один из самых больших и популярных инструментов SEMrush.
				li Работал над развитием дизайн-системы с UI-китом и другими общими задачами.
				li Презентовал работу командам разработки, PO и команде UX.
				li Формировал гипотезы, тестировал интерактивные прототипы.
				li Анализировал статистику из Google Analytics и BigQuery, составлял SQL-запросы, следил за метриками, наблюдал за использованием инструментов в Inspectlet.
				li Анализировал фидбек.
				li Писал документацию для разработчиков, составлял задания для UX-писателя и UI-дизайнеров.
				li Участвовал в еженедельных UX и UI синках, груммингах, планингах, встречах по общим задачам и ретроспективах.



	+section("Задачи и достижения")
		+section_inner
			ul
				li Разработал руководство по юзабилити-тестированиюю
				li Увеличил количество покупок за счёт проектирования процесса покупки и выбора лидов.
				li Увеличил ретеншен, улучшив email-уведомления.
				li Увеличил ценность инструмента и количество пользователей, спроектировав функции для миграции сайтов.
				li Увеличил количество платящих пользователей, спроектировав сообщения о достижении лимитов.
				li Тестировал и улучшал навигацию по инструменту.
				li Провёл UI-аудит и аудит контента в 3 инструментах, чтобы унифицировать интерфейс и сделать его единообразным.
				li Участвовал в обновлении UI-гайдов и создании информационной архитектуры всего сервиса.
				li Проверил интерес пользователей к новым потенциальным функциям.
				li Спроектировал новый флоу для новичков и постоянных пользователей, чтобы упростить его и увеличить конверсию.
				li Сделал генератор промо-материалов.Это повысит конверсию в регистрации и количество платящих пользователей.

		+section_inner
			+img-project($filename='prot__1', $extension='jpg', $size='md', $alt='')
			+img-project($filename='prot__2', $extension='jpg', $size='md', $alt='')