//-Шаблон страницы
extends ../../_templates/project-page

block head__meta

block head__scripts

block vars
	// ID проекта. По нему вытаскиваем нужные поля.
	- var $projectID = "1"


block content
	+section()
		+section_inner
			p.
				Международная IT-компания, в которой создают платформу для интернет-маркетологов. Сейчас ей пользуется 6 млн человек.
				Был частью команды из 17 UX-дизайнеров, работал над общими задачами и задачами трёх команд разработки.


	+section("Site Audit")
		+section_inner
			p Инструмент для поиска проблем с техническим SEO, один из самых крупных и популярных в SEMrush.
			ul
				li Задачи по повышению ретеншена
				li Повысил ценность от инструмента фун.Задачи миграции сайтов с помощью инструмента. Этим
				li Увеличение количества активных пользователей
				li Проектирование сообщений о достижении лимитов и увеличение платящих пользователей.
				li Тестирование и улучшение навигации



				li Мастер миграции сайтов
				li Краулинг с кредами, чтоб сканировать закрытые сайты

				li Аудит соответствия дизайн-системе

				li Остановка карула
				li Проверка эффективности лендинга инструмента


	+section("BeRush Партнёрская сеть")
		+section_inner
			ul
				li Генератор промо-материалов
				li Проектирование флоу для новичков и постоянных пользователей
				li Аудит

	+section("Oppty (sales opportunities)")
		+section_inner
			ul
				li Покупка лидов через интерфейс, а не через сейлзов
				li Фильтрация лидов. Возможность купить небольшое количество лидов вместо всего огромного/дорогово списка.
				li Проверка интереса к подписочной модели
				li Проверка интереса к питчам (мы сами подготавливаем предложения о сотрудничестве, которые будут рассылать по email)
				li Аудит
				li Единообразие текстов

	+section("Агентская директория (каталог агенств)")
		+section_inner

	+section("Общие задачи")
		+section_inner
			ul
				li Руководство по юзабилити-тестированию
				li Скелетоны
				li Поповеры
				li Информационна архитектура
				li Обновление UI-библиотеки Axure
