//-Шаблон страницы
extends ../../_templates/project-page

block head__meta

block head__scripts

block vars
	//- ID проекта. По нему вытаскиваем нужные поля.
	- var $projectID = "1"


block content
	+section
		+section_inner
			h2 О компании
			p Международная компания, разрабатывает SaaS для интернет-маркетологов. Над ним работает 900 человек из 4 стран.
			// +img-project($filename='prot__1', $extension='jpg', $size='md', $alt='')
			// +img-project($filename='prot__2', $extension='jpg', $size='md', $alt='')

		//- t
			h3 Обязанности
			ul
				li UX-проектирование для 3 команд разработки (быстрое прототипирование, IA, CJM, User Flow, сценарии и карты сценариев, BPMN, UML AD, Use Case Diagram).
				li Проведение исследований (юзабилити-тестирование, интервью, RITE, количественные методы).
				li Веб-аналитика (Google Analytics, BigQuery, Inspectlet, SQL).
				li Разработка требований.
				li Анализ пользовательского фидбека.
				li Развитие дизайн-системы и UI-кита.
				li Создание документации для разработчиков, составление заданий для UX-писателя и UI-дизайнеров.
				li Контроль за реализацией.
				li Презентация решений командам разработки, PO и команде UX.

			h3 Задачи и достижения
			ul
				li Разработал руководство по юзабилити-тестированию.
				li Увеличил количество покупок за счёт проектирования процесса покупки и выбора лидов.
				li Увеличил ретеншен, улучшив email-уведомления.
				li Увеличил ценность инструмента и количество пользователей, спроектировав функции для миграции сайтов.
				li Увеличил количество платящих пользователей новыми сообщениями о достижении лимитов.
				li Тестировал и улучшал навигацию по инструменту.
				li Провёл UI-аудит и аудит контента в 3 инструментах, чтобы унифицировать интерфейс и сделать его единообразным.
				li Участвовал в обновлении UI-гайдов и в создании информационной архитектуры всего сервиса.
				li Проверил заинтересованность пользователей в новых потенциальных функциях.
				li Спроектировал новый флоу для новичков и постоянных пользователей, чтобы упростить его и увеличить конверсию.
				li Сделал генератор промо-материалов. Это повысило конверсию в регистрации и количество платящих пользователей.

	+section
		+section_inner
			h2 Мои команды и проекты
			p Был частью департамента из 17 UX-дизайнеров и 10 UI-дизайнеров. Каждый UX-ер привязан к UI-дизайнеру и нескольким командам разработки.
			ul
				li Site Audit — сервис для проверки технического здоровья сайтов. Один из самых больших и популярных сервисов в SEMrush.
				li Oppty - инструмент для поиска потенциальных клиентов.
				li BeRush — партнёрская сеть.
				li Agency Partners (концепция) — каталог маркетинговых агентств.


	+section
		+section_inner
			h2 О чём расскажу?
			p О процессе решения проблемы в инструменте Oppty. Это инструмент для маркетинговых агентств. Он находит потенциальных клиентов в определённой локации и по определённым параметрам.
			+prototype-link("https://rpghqp.axshare.com", $text="Финальный интерактивный прототип")
	+section
		+section_inner
			+project-cols
				+project-col-1
					h2 Проблема
					p Мало продаж, небольшой средний чек.
					p Гипотеза: во многих случаях набор данных получается слишком большим и дорогим. На скриншоте — список из 468 клиентов из Бостона за $1,638.
				+project-col-2
					+img-project($filename='1_old-prod', $extension='png', $size='', $alt='')
	+section
		+section_inner
			h2 Этапы нахождения решения
			ol
				li.d-flex: a(href="#1").link Исследования и анализ.
				li.d-flex: a(href="#2").link Поиск идей.
				li.d-flex: a(href="#3").link Прототипирование и проверка решений.
				li.d-flex: a(href="#4").link Передача на следующие этапы разработки.
				li.d-flex: a(href="#5").link Поддержка и надзор за реализацией.
				li.d-flex: a(href="#6").link Проверка успешности решения.

	+section
		+section_inner
			h2#1 1. Исследования и анализ
			ol
				li Отобрал и проанализировал пользовательский фидбек про эту проблему.
				li Продакт оунер провела серию интервью с европейскими агентствами. Подтвердила гипотезу, узнала как они находят себе клиентов, и как мы можем им помочь. Выяснили также, что у каждого агентства немного разный стиль поиска клиентов.
				li Составил окончательный список требований.
				li Составил и согласовал критерии успешности. Это те метрики, которые отслеживаем после разработки.

	+section
		+section_inner
			+project-cols
				+project-col-1
					h2#2 2. Поиск идей
					ol
						li Составил список возможных паттернов для решения подобных задач. Источники: другие сервисы SEMrush, каталоги UX-паттернов и известные сайты.
						li Сделал несколько набросков с возможными вариантами взаимодействия.
						li Собрал встречу с командой разработки, чтобы обсудить детали реализации. Какие-то варианты были дорогие, от них отказались.
				+project-col-2
					+img-project($filename='2_ideation', $extension='png', $size='', $alt='')

	+section
		+section_inner
			h2#3 3. Прототипирование и проверка решений
			+project-cols
				+project-col-1
					h3 Первая версия, дешёвая в разработке
					p Версия без значительных изменений в существующем интерфейсе.
					p Провёл несколько юзабилити-тестов на коллегах-маркетологах. У большинства респондентов были значительные затруднения при прохождении заданий.
					p Вывод: изменения усложнили сервис и повысили порог вхождения, это снизит конверсию.
				+project-col-2
					+img-project($filename='3_prot-1', $extension='png', $size='', $alt='')

		+section_inner
			+project-cols
				+project-col-1
					h3 Вторая версия, переосмысление компоновки
					ul
						li Поменял компоновку на более простую и компактную.
						li Поговорил с командой про целесообразность и стоимость разработки
						li Получил фидбек от UX- и UI-команд, внёс изменения.
						li Провёл тестирование на других на коллегах-маркетологах, критичных проблем не выявил.
					p Использовали упрощённую схему редизайна, без отдельной бета-версии. В сервисе мало постоянных пользователей и такие изменения не приведут к негативным последствиям.
				+project-col-2
					+img-project($filename='4_prot-2', $extension='png', $size='', $alt='')


		+section_inner
			h2#4 4. Передача на следующие этапы разработки
			+project-cols
				+project-col-1
					ul
						li Проработал список всех возможных состояний элементов и описал, как они должны работать.
						li На груминге с командой разработки презентовал окончательную версию решения.
						li Поняли, что все задачи по разработке не вмещаются в спринт, поэтому договорились разбить внедрение функции на этапы: сначала сделаем самое необходимое и будем наблюдать, как пользователи это используют.
						li Добавил ивенты для Google Analytics. Это те клики на интерактивные элементы, которые потом помогут понять, как пользователи взаимодействуют с нашим сервисом и что можно улучшить.
						li В таск-трекере подробно описал задачи для UX-писателя, UI-дизайнера и разработчиков. Отдельно ввёл в курс дела и ответил на все вопросы.
				+project-col-2
					+img-project($filename='5_states', $extension='png', $size='', $alt='')


	+section
		+section_inner
			h2#5 5. Поддержка и сопровождение реализации
			ul
				li Консультировал и пояснял непонятные моменты в гайдах.
				li После разработки проверил, всё ли реализовано так, как задумывалось, и соответствует ли это дизайн-системе. Составил документ со списком правок.

	+section
		+section_inner
			+project-cols
				+project-col-1
					h2#6 6. Проверка успешности решения
					ul
						li После разработки следил за тем, как реальные пользователи используют обновлённый интерфейс. Чтобы отследить использование ключевых интерактивных элементов, использовал Inspectlet и BigQuery.
						li Потом мы увеличили трафик в инструмент. Через какое-то время проверили метрики монетизации из критериев успешности и подтвердили, что новый дизайн работает хорошо.
				+project-col-2
					+img-project($filename='6_ui', $extension='png', $size='', $alt='')