// $brand-1 = #9C27B0
// $brand-2 = 
// $brand-3 = 
$color-body = #333
$background-1 = $sd-color__palette-gray-100




$link-color = #0064d6
$link-color--hover = lighten($link-color, 30%)
$link-color--hover-bg = tint($link-color, 90%)
$link-color--active = alpha(darken($link-color--hover, 50%))
