// Grid breakpoints
$breakpoints = {
  'xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
  //'xxl': 1400px
}

$breakpoints-and-widths = {
	"576px": 540px,
	"768px": 720px,
	"992px": 960px,
	"1200px": 1170px,
	//"1500px": 1370px
	}


// Number of columns
$columns = 12

$grid-gutter-width-base = 2rem
$grid-gutter-widths = {
	"xs": $grid-gutter-width-base,
	"sm": $grid-gutter-width-base,
	"md": $grid-gutter-width-base,
	"lg": $grid-gutter-width-base,
	"xl": $grid-gutter-width-base
	//"xxl": $grid-gutter-width-base
}