$sd-color__text-body-1= #343a3f;
$sd-color__background-50= #f7faff;
$sd-color__palette-yellow-50= #fffbe1;
$sd-color__palette-yellow-75= #fdf7cd;
$sd-color__palette-yellow-100= #fee076;
$sd-color__palette-yellow-200= #f0c710;
$sd-color__palette-yellow-300= #e2a22c;
$sd-color__palette-yellow-400= #cd8d23;
$sd-color__palette-yellow-500= #9f6a10;
$sd-color__palette-yellow-600= #774e09;
$sd-color__palette-yellow-700= #563605;
$sd-color__palette-yellow-800= #3a2402;
$sd-color__palette-yellow-900= #221301;
$sd-color__palette-purple-50= #faf9ff;
$sd-color__palette-purple-75= #f6f2ff;
$sd-color__palette-purple-100= #e8daff;
$sd-color__palette-purple-200= #d4bbff;
$sd-color__palette-purple-300= #be95ff;
$sd-color__palette-purple-400= #a56eff;
$sd-color__palette-purple-500= #8a3ffc;
$sd-color__palette-purple-600= #6929c4;
$sd-color__palette-purple-700= #491d8b;
$sd-color__palette-purple-800= #31135e;
$sd-color__palette-purple-900= #1c0f30;
$sd-color__palette-blue-50= #f7faff;
$sd-color__palette-blue-75= #edf4fe;
$sd-color__palette-blue-100= #d0e2ff;
$sd-color__palette-blue-200= #a6c8ff;
$sd-color__palette-blue-300= #78a9ff;
$sd-color__palette-blue-400= #4589ff;
$sd-color__palette-blue-500= #0f62fe;
$sd-color__palette-blue-600= #0043ce;
$sd-color__palette-blue-700= #002d9c;
$sd-color__palette-blue-800= #001d6c;
$sd-color__palette-blue-900= #001141;
$sd-color__palette-teal-50= #eefdff;
$sd-color__palette-teal-75= #d9fbfb;
$sd-color__palette-teal-100= #9ef0f0;
$sd-color__palette-teal-200= #3ddbd9;
$sd-color__palette-teal-300= #08bdba;
$sd-color__palette-teal-400= #009d9a;
$sd-color__palette-teal-500= #007d79;
$sd-color__palette-teal-600= #015e5e;
$sd-color__palette-teal-700= #004144;
$sd-color__palette-teal-800= #022b30;
$sd-color__palette-teal-900= #081a1c;
$sd-color__palette-green-50= #edfff7;
$sd-color__palette-green-75= #dafcec;
$sd-color__palette-green-100= #96f2cc;
$sd-color__palette-green-200= #3fdfaa;
$sd-color__palette-green-300= #01be8d;
$sd-color__palette-green-400= #129f75;
$sd-color__palette-green-500= #0f7e5d;
$sd-color__palette-green-600= #075e44;
$sd-color__palette-green-700= #01422e;
$sd-color__palette-green-800= #012c1e;
$sd-color__palette-green-900= #021910;
$sd-color__palette-gray-50= #f7faff;
$sd-color__palette-gray-75= #f2f4f8;
$sd-color__palette-gray-100= #dde1e6;
$sd-color__palette-gray-200= #c1c7cd;
$sd-color__palette-gray-300= #a2a9b0;
$sd-color__palette-gray-400= #878d96;
$sd-color__palette-gray-500= #697077;
$sd-color__palette-gray-600= #4d5358;
$sd-color__palette-gray-700= #343a3f;
$sd-color__palette-gray-800= #21272a;
$sd-color__palette-gray-900= #121619;
$sd-color__palette-neutral-white= #fff;
$sd-color__palette-neutral-black= #000;
$sd-fontFamilies__font-families-roboto-slab= Roboto Slab;
$sd-lineHeights__line-heights-0= 150%;
$sd-fontWeights__font-weights-roboto-slab-0= SemiBold;
$sd-fontSizes__font-size-0= 42;
$sd-fontSizes__font-size-1= 52;
$sd-letterSpacing__letter-spacing-0= 0%;
$sd-paragraphSpacing__paragraph-spacing-0= 0;
$sd-fontFamilies__heading-h1-font-family= Roboto Slab;
$sd-fontWeights__heading-h1-font-weight= SemiBold;
$sd-lineHeights__heading-h1-line-height= 150%;
$sd-fontSizes__heading-h1-font-size= 52;
$sd-letterSpacing__heading-h1-letter-spacing= 0%;
$sd-paragraphSpacing__heading-h1-paragraph-spacing= 0;
$sd-paragraphIndent__heading-h1-paragraph-indent= 0px;
$sd-textCase__heading-h1-text-case= none;
$sd-textDecoration__heading-h1-text-decoration= none;
$sd-fontFamilies__heading-h2-font-family= Roboto Slab;
$sd-fontWeights__heading-h2-font-weight= SemiBold;
$sd-lineHeights__heading-h2-line-height= 150%;
$sd-fontSizes__heading-h2-font-size= 42;
$sd-letterSpacing__heading-h2-letter-spacing= 0%;
$sd-paragraphSpacing__heading-h2-paragraph-spacing= 0;
$sd-paragraphIndent__heading-h2-paragraph-indent= 0px;
$sd-textCase__heading-h2-text-case= none;
$sd-textDecoration__heading-h2-text-decoration= none;
$sd-textCase__text-case-none= none;
$sd-textDecoration__text-decoration-none= none;
$sd-dimension__paragraph-indent-0= 0px;