@import "tokens.styl"


// Colors
$color-text-body = $sd-color__palette-gray-900
$color-text-desc = $sd-color__palette-gray-500
$background-1 = $sd-color__palette-gray-100
$background-2 = $sd-color__palette-blue-75

$link-color = $sd-color__palette-blue-600
$link-color--hover = lighten($link-color, 30%)
$link-color--hover-bg = tint($link-color, 90%)
$link-color--active = alpha(darken($link-color--hover, 50%))


// Border Radius
$radius--S = 8px
$radius--M = 12px
// $radius--L: