@use "tokens" as *
@use 'sass:color'


// Colors
$color-brand-1: $color__yellow-100

$color-text-body-1: $color__text-body-primary
$color-text-body-2: $color__gray-900
$color-text-desc: $color__gray-500

$surface-primary: $color__gray-75
$surface-primary--dark-1: $color__gray-100
$surface-primary--dark-2: $color__gray-200
$surface-primary--dark-3: $color__gray-300
$surface-primary--dark-4: $color__gray-400
$surface-secondary: $color__neutral-white
$surface-tertiary: $color__gray-75
$surface-tertiary--dark-1: $color__gray-100
$surface-tertiary--dark-2: $color__gray-200
$surface-tertiary--dark-3: $color__gray-300

$link-color: $color__blue-600
$link-color--hover: color.scale($link-color, $lightness: 30%)
$link-color--hover-bg: color.mix(white, $link-color, 90%)
// $link-color--active: rgba(darken($link-color--hover, 0.5)) // TODO тут не указан второй аргумент


// Border Radius
$radius--S: 8px
$radius--M: 12px
$radius--L: 16px
$radius--XL: 24px

// Border Colors
$border-color-1: rgba($color__gray-100, 0.5)
$border-color-2: rgba($color__gray-100, 0.5)