@import "tokens.styl"


// Colors
$color-body = #333
$background-1 = $sd-color__palette-gray-100
$background-2 = $sd-color__palette-blue-75

$link-color = #0064d6
$link-color--hover = lighten($link-color, 30%)
$link-color--hover-bg = tint($link-color, 90%)
$link-color--active = alpha(darken($link-color--hover, 50%))


// Border Radius
$radius--S = 8px
$radius--M = 12px
// $radius--L: