include ../_helpers/variables
include ../_helpers/mixins

doctype
html(lang="ru")
	head
		include _includes/_head.pug
	body.body-front
		include _includes/_header.pug
		main.main
			.container
				if $menu_activeLink != "1"
					+breadcrumbs({'Главная': '/'})
				h1
					block page-title
				block content

		include _includes/_footer.pug