include ../_helpers/variables
include ../_helpers/mixins

doctype
html(lang="ru")
	head
		include _includes/_head.pug
	body
		include _includes/_header.pug
		main.main
			.container
				if $menu_activeLink != "1"
					+breadcrumbs({'Главная': '/'})
				h1= $h1
				block content

		include _includes/_footer.pug