include ../_helpers/variables
include ../_helpers/mixins
//- Активный пунт меню
- var $menu_activeLink = "2"

doctype
html(lang="ru")
	head
		include _includes/_head.pug
	body
		include _includes/_header.pug
		main.main
			.container
				+breadcrumbs({'Главная': '/', 'Проекты': '/projects/'})
				article
					header.project-header
						h1= $h1
						if $desc
							.project-header__desc= $desc
						if $date
							.project-header__date= $date

						//- Ссылки на соседние проекты
						.neighbors
							each val in projectList
								if val.type === "internal"
									case val.id
										when (parseInt($projectID) + 1).toString()
											a(href="/projects/"+ val.id + "/", title=val.name, aria-level="Следующая работа: "+val.name).neighbors__next.btn
										when (parseInt($projectID) - 1).toString()
											a(href="/projects/"+ val.id + "/", title=val.name, aria-level="Предыдущая работа: "+val.name).neighbors__prev.btn


					block content

		include _includes/_footer.pug