include ../_helpers/variables
include ../_helpers/mixins


//////////////-
//- Миксины
//////////////-

//- Секция для группировки описания работы
mixin section()
	.section-project
		block

//- Изображение
mixin img-project($src, $size, $alt="")
	picture
		- var $src_webp = $src.replace(/(jpg|png)$/g, "webp");
		source(type="image/webp", srcset=$src_webp)
		img.project-img(src=$src, alt=$alt, class="project-img--"+$size)

//- Ссылка на прототип
mixin prototype-link($url, $text="Интерактивный прототип")
	p
		a(href=$url, target='_blank', rel="nofollow noopener noreferrer").link=$text





//- Активный пунт меню
- var $menu_activeLink = "2"

doctype
html(lang="ru")
	head
		include _includes/_head.pug
	body
		include _includes/_header.pug
		main.main
			.container
				+breadcrumbs({'Главная': '/', 'Проекты': '/projects/'})
				article.article-project
					header.project-header
						h1= $h1
						if $desc
							.project-header__desc= $desc
						if $date
							.project-header__date= $date

						//- Ссылки на соседние проекты
						.neighbors
							each val in projectList
								if val.type === "internal"
									case val.id
										when (parseInt($projectID) + 1).toString()
											a(href="/projects/"+ val.id + "/", title=val.name, data-ga-label="Prev", aria-lebel="Следующий проект: "+val.name).neighbors__next.btn
										when (parseInt($projectID) - 1).toString()
											a(href="/projects/"+ val.id + "/", title=val.name, data-ga-label="Next", aria-lebel="Предыдущий проект: "+val.name).neighbors__prev.btn


					block content

		include _includes/_footer.pug