include ../_helpers/variables
include ../_helpers/mixins
//- Активный пунт меню
- var $menu_activeLink = "2"

doctype
html(lang="ru")
	head
		include _includes/_head.pug
	body
		include _includes/_header.pug
		main.main
			.container
				+breadcrumbs({'Главная': '/', 'Проекты': '/projects/'})
				article
					header.project-header
						h1= $h1
						p= $desc
						p= $date

					block content

		include _includes/_footer.pug