//-Шаблон страницы
extends ../_templates/general


block vars
	//- Активный пунт меню
	- var $menu_activeLink = "2"
	- var $h1 = "Проекты"



block content
	mixin projectCard($projectPriority, $width)
		each val in projectList
			if val.priority === $projectPriority
				div(class="project-card", class={"--not-filled-in-yet": val.type === "unpublished"}, class=$width)

					//- Подставляется после case
					mixin _projectList-content
						.project-card__thumbnail
							//- todo img(src='/projects/'+ $projectID + '/preview.png', alt='')
							img(src='/projects/1/preview.png', alt='')
						.project-card__caption-wrapper
							.project-card__caption(class={"--external": val.type === "external"})
								.project-card__title= val.name
								.project-card__desc= val.desc
								.project-card__date= val.date
								if val.type === "unpublished"
									.project-card__not-available-message в процессе наполнения


					case val.type
						when "internal"
							a.project-card__link(href='/projects/' + val.id + '/')
								+_projectList-content
						when "external"
							a.project-card__link(href=val.targetURL, target='_blank', rel="nofollow noopener noreferrer")
								+_projectList-content
						when "unpublished"
							+_projectList-content



	.row.project-list
		+projectCard($projectPriority="1", $width="col--xs-6")
	h2 Собственное бюро и фриланс
	p Часто привлекал других проектировщиков, технического писателя, копирайтера, визуальных дизайнеров и SEO-специалиста.
	.row.project-list
		+projectCard($projectPriority="2", $width="col--xs-6")
	.row.project-list
		+projectCard($projectPriority="3", $width="col--xs-6 col--md-4")