//-Шаблон страницы
extends ../../_templates/project-page

block head__meta

block head__scripts

block vars
	//- ID проекта. По нему вытаскиваем нужные поля.
	- var $projectID = "2"


block content
	+section("О проекте")
		+section_inner
			p Один из организаторов первого в России митапа о доступности.
			p Митап ориентирован на фронтенд-разработчиков, UI- и UX-дизайнеров, QA-инженеров, копирайтеров, UX-писателей, менеджеров и руководителей проектов.
			p Доступность, accessibility или коротко a11y — это набор методов и технологий создания интерфейсов для людей с особыми потребностями. Но следование этим правилам помогает сделать интерфейсы удобнее и доступнее для всех.
			+img-project($filename='semrush-photo', $extension='jpg', $size='md', $alt='')
			+video-project()
				<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/7w4RGiwWHzc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
