// Core variables and mixins
// Grid: https://flexboxgrid.vivid-websolutions.nl/ https://github.com/vivid-web/flexbox-grid-stylus
@import 'basic/type__fonts.styl'
@import 'variables.styl'
@import 'mixins/bem.styl'
@import 'mixins/mixins.styl'
@import 'mixins/custom.styl'
@import 'basic/utils.styl'



// Core CSS
@import 'basic/normalize.styl'
@import 'basic/grid/container.styl'
//@import 'basic/grid/row.styl'
//@import 'basic/grid/col.styl'
@import 'basic/grid/grid.styl'
@import 'basic/reboot.styl'
@import 'basic/type.styl'
@import 'basic/type__links.styl'
@import 'basic/type__lists.styl'
@import 'basic/layout.styl'
@import 'basic/layout__header.styl'
@import 'basic/layout__footer.styl'
//@import 'basic/layout__header__nav.styl'

//@import 'basic/type__variants.styl'
//@import 'basic/type__variants.styl'
//@import 'basic/type__misc.styl'
@import 'basic/images.styl'
//@import 'basic/forms.styl'
//@import 'basic/code.styl'
//@import 'basic/various.styl' // пустой





// Components
//@import 'components/*'
@import 'components/tabs.styl' // пустой
@import 'components/tables.styl' // пустой
@import 'components/misc.styl'
@import 'components/nav.styl'
//@import 'components/navbar.styl'
@import 'components/breadcrumb.styl'
@import 'components/buttons.styl' // пустой
//@import 'components/pagination.styl'
@import 'components/scroll-to-top.styl'
@import 'components/articles_list'
//@import 'components/modal.styl'



// Pages
@import 'pages/global.styl'
@import 'custom.styl'
@import 'pages/front.styl'
@import 'pages/contacts.styl'
@import 'pages/projects.styl'
@import 'pages/projects__page.styl'
//@import 'pages/other-pages.styl'
@import 'pages/errors.styl'
//@import 'pages/*'


// Other



// js libs
//@import '../js/libs/**/*.css'