---
title: About me
description: ____
layout: page.njk
permalink: /
---

<section class="front-section about-main">
	<h4>Hey! I’m product and UX designer based in Tbilisi, Georgia.</h4>
	<div>
		<p>Увлечён дизайном, дизайн-системами, DesignOps и продуктовыми исследованиями.</p>
		<p>Люблю улучшать жизнь людей и приносить пользу бизнесу, популяризирую accessibility и инклюзивный дизайн.</p>
	</div>
</section>
<section class="front-section">
	<h2>Skills</h2>
	<ul>
		<li>UI-инструменты. Продвинутый уровень Figma: делаю сложные компоненты на auto layout, могу написать плагин на JS. Также использую Axure RP и ProtoPie.</li>
		<li>Моделирование и аналитческие инструменты: информационная архитектура, Customer Journey Map, UML Use Case Diagram, Scenario Map, Service Blueprint, User Flow, UML Activity Diagram, BPMN.</li>
		<li>Исследования: юзабилити-тестирование, интервью, анкетирование, персоны, Jobs to be Done, карточная сортировка, A/B-тестирование, метрики, веб-аналитика.</li>
		<li>Интерфейсные тексты на русском и английском.</li>
		<li>Frontend development: JavaScript, HTML, CSS/SCSS/Stylus, 11ty, вёрстка под скринридеры, Git.</li>
	</ul>
</section>
<section class="front-section">
	<h2>Jobs</h2>
	<ul>
		<li>Netology, Product Designer</li>
		<li>Practicum, Product Designer</li>
		<li>Semrush, UX Designer</li>
		<li>Binomo, Product Designer</li>
		<li>Fleelance</li>
	</ul>
</section>
<section class="front-section">
	<h2>Hobbies and interests</h2>
	<p>Modular synthesizers, front-end, video games, investments, urbanism, architecture, gadgets, photography, running, shawarma.</p>
</section>