---
permalink: manifest.json
---
{
    "name": "{{ site.title }}",
    "description": "{{ site.description }}",
    "lang": "{{ site.lang }}",
    "dir": "ltr",
    "id": "/",
    "start_url": "/",
    "theme_color": "#ffffff",
    "display": "browser",
    "orientation": "natural",
    "icons": [
        {
            "src": "/assets/favicons/icon-192.png",
            "type": "image/png",
            "sizes": "192x192"
        },
        {
            "src": "/assets/favicons/icon-512.png",
            "type": "image/png",
            "sizes": "512x512"
        }
    ]
}