$body-bg = #e6d8c7
$body-bg2 = #d6e5e6


body
	height: 100vh
	font-family: $font-family-base
	font-size: $font-size-base
	font-weight: $font-weight-base
	line-height: $line-height-base
	// Go easy on the eyes and use something other than `#000` for text
	color: $body-color
	background-image: linear-gradient(331deg, $body-bg 0%, $body-bg2 100%);
	background-attachment fixed
	
	
.main
	padding-top 60px



//-Прибитый подвал
body
	min-height: 100%
	display: grid
	grid-template-rows: auto 1fr auto
	
/*
body
	display flex
	height 100vh //min-height 100vh // не работает в IE
	flex-direction column
.main
	flex 1 0 auto
*/