$header__bg = #263238
$mob-navbar-bg = $header__bg // цвет шапки на мобильных версиях

$header__color = #fff

.header
	background $header__bg

// Строка с навигацией и названием сайта
.navbar
	@extend $d-flex
	
	// Адаптивное
	flex-direction column
	align-items: center // выравнивает navbar-header по вертикали
	padding 1rem
	+media(md)
		height 70px
		flex-direction: row
		justify-content: space-between
		padding 0 ($grid-gutter-width-base / 2)
	

			

		
		

.navbar-header
	@extend $d-flex
	align-items stretch
.logo
	height 100%
	margin-right: 0.5rem

// sitename + slogan
.sitename-slogan
	@extend $d-flex
	flex-direction: column
	justify-content: space-around
	color $header__color

.sitename
	line-height 1
	font-size 1.2rem
	font-weight bold
	
.slogan
	margin-top: 4px
	line-height 1
	font-size $font-size-sm
	
	



@import 'basic/layout__header__nav.styl'