$body-bg = #e2d4e2
$body-bg2 = #d6e5e6
body-bg($isfixed = false)
	background-image: linear-gradient(331deg, $body-bg 0%, $body-bg2 100%);
	if $isfixed=='fixed'
		background-attachment fixed

body
	height: 100vh
	font-family: $font-family-base
	font-size: $font-size-base
	font-weight: $font-weight-base
	line-height: $line-height-base
	color: $body-color
	body-bg(fixed)
	
	
.main
	padding-top 60px



//-Прибитый подвал
body
	min-height: 100%
	display: grid
	grid-template-rows: auto 1fr auto