$item__bg--active = lighten($header__bg, 10) !important
$item__bg--hover = lighten($header__bg, 5)
$link__color = $header__color !important


.nav // nav
	height: 100%
	width: 100%
	+media(md)
		width: unset

.menu // ul
	display: flex
	height: 100%
	margin 0
	padding 0
	list-style: none

	&__item
		flex-grow: 1
		+media(md)
			flex-grow: 0

	&__lnk
		display: flex
		height: 100%
		transition background 0.15s
		color $link__color
		line-height: 1.5
		&.--active
			background-color $item__bg--active
			& ^[1]__inr
				border-color $header__color
		&:hover
			background-color $item__bg--hover
		&__inr
			margin: auto
			border-bottom: 2px solid alpha($header__color, $thin-underline-opacity)
		
		// Адаптивное
		padding 10px 0
		flex 1 0 100%
		text-align right
		border-radius: 12px
		+media(md)
			align-items center
			padding 0 2vw
			flex 0 0 auto
			border-radius: 0
		+media(lg)
			padding 0 1.5rem
			&:before
				top 6px
	
	
	// Адаптивное
	flex-wrap wrap
	margin-top 1.5rem
	+media(md)
		flex-direction row
		flex-wrap nowrap
		margin-top: 0
	
	.contact-btn
		// Адаптивное
		margin: 10px 15px 15px auto
		padding: 4px 8px
		+media(sm)
			padding: 4px 13px
		+media(md)
			margin 0 0 0 15px
			padding: 7px 18px











// Мобильное меню

