.nav // nav
	height: 100%

.menu // ul
	$bg--active = lighten($header__bg, $thin-underline-opacity)

	display: flex
	height: 100%
	margin 0
	padding 0
	list-style: none
	
	
	&__lnk
		display: flex
		height: 100%
		transition background 0.15s
		color $header__color !important
		font-size 0.9rem
		line-height: 1.5
		&.--active
			background-color $bg--active !important
			& ^[1]__inr
				border-color alpha($header__color, $thin-underline-opacity+20)
		&:hover
			background-color darken($bg--active, 20)
		&__inr
			display: inline-block
			border-bottom: 2px solid alpha($header__color, $thin-underline-opacity)
		
		// Адаптивное
		padding 10px 20px
		flex 1 0 100%
		text-align right
		+media(md)
			align-items center
			padding 0 2vw
			flex 0 0 auto
			/*&:before
				content ''
				height 24px
				width @height
				margin-right: 0.4rem
				background-image url(../imgs/book.svg)
				background-repeat no-repeat
				background-size contain
				background-position 50% 50%*/
		+media(lg)
			padding 0 1.5rem
			&:before
				/*height 18px
				width @height*/
				top 6px
	
	
	// Адаптивное
	flex-wrap wrap
	margin-top 1.5rem
	+media(md)
		flex-direction row
		flex-wrap nowrap
		margin-top: 0
	//justify-content flex-start
	//align-items center
	
	.contact-btn
		// Адаптивное
		margin: 10px 15px 15px auto
		padding: 4px 8px
		+media(sm)
			padding: 4px 13px
		+media(md)
			margin 0 0 0 15px
			padding: 7px 18px



/*.link-to-modal
	+media-down(md)
		background: desaturate($brand-2, 100%)
		border-color: darken(desaturate($brand-2, 100%), 25%)
	@media (min-width: $breakpoints[md]) and (max-width: $breakpoints[lg])
		padding-left 11px
		padding-right @padding-left*/








// Мобильное меню

