$header__bg = #000
$mob-navbar-bg = $header__bg // цвет шапки на мобильных версиях

$header__color = #fff

.header
	//background-image linear-gradient(135deg, $brand-1 0%, #090b2a 100%)
	//background-image linear-gradient(135deg, #5e5e5e 10%, $brand-1 250%)
	background $header__bg
	box-shadow 0 2px 5px rgba(0, 0, 0, 0.25)

// Строка с навигацией и названием сайта
.navbar
	@extend .d-flex
	/*position relative // Пока не понял, зачем
	justify-content space-between
	align-items center*/
	
	// Адаптивное
	flex-direction column
	align-items: center // выравнивает navbar-header по вертикали
	padding 1rem 0
	+media(md)
		height 90px
		flex-direction: row
		justify-content: space-between
		padding 0 ($grid-gutter-width-base / 2)
	

			

		
		

.navbar-header
	@extend .d-flex
	align-items center
.logo
	height 100%
	margin-right: 0.5rem
	// Адаптивное
	width: 30px
	+media(md)
		width: 45px

// sitename + slogan
.sitename-slogan
	@extend .d-flex
	flex-direction: column
	line-height 0
		

	

/* .navbar-header
	display block
	line-height 1
	text-align center
	margin auto
	align-self center
	// Адаптивное
	+media(md)
		padding 15px
	+media(lg)
		padding 20px
	+media(xl)
		padding 30px 40px*/

.sitename
	color $header__color
	line-height 1
	font-size 1.2rem
	font-weight bold
	span
		display block
	
.slogan
	display flex
	flex-direction column
	line-height 1.2
	font-size 0.9rem
	color $header__color
	
	



@import 'basic/layout__header__nav.styl'