//===========================
// Vars
//===========================
$text-color = $color_blue-gray--2
$headings-font-family = inherit
$headings-font-weight = 400
$headings-line-height = 1.1
$lead-font-size = 1.25rem
$lead-font-weight = 300
$small-font-size = 80%
$blockquote-small-color = $color_gray-light
$blockquote-font-size = $font-size-base * 1.25
$blockquote-border-color = $color_gray-lighter
$blockquote-border-width = 0.25rem
$mark-padding = 0.2em
$list-inline-padding = 5px













html
	// Адаптивное
	font-size $font-size-root - 2
	+media(lg)
		font-size $font-size-root
		


//===========================
// Headings
//===========================
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
	//margin-bottom: $headings-margin-bottom
	margin-top: 2rem
	margin-bottom: 0.8rem
	font-family: $headings-font-family
	font-weight: $headings-font-weight
	line-height: $headings-line-height
	color: $text-color

h1, .h1
	margin-top: 0
	font-size: $font-size-h1

h2, .h2
	font-size: $font-size-h2

h3, .h3
	font-size: $font-size-h3

h4, .h4
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	font-size: $font-size-h4

h5, .h5
	font-size: $font-size-h5
	font-weight: bold;
	margin: 0;

h6, .h6
	font-size: $font-size-h6
	font-weight: bold;
	margin: 0;

.lead
	font-size: $lead-font-size
	font-weight: $lead-font-weight

.title-with-desc
	margin-bottom 0
.title-desc
	margin-bottom: 1.5rem
	color $color_gray--4
p
	margin-top: 0
	margin-bottom: 1rem
	&:last-child
		margin-bottom: 0



//===========================
// Horizontal rules
//===========================
hr
	margin-top: 1.2rem
	margin-bottom: 1.2rem
	border: 0
	border-top: 1px solid rgba($color_black, 0.1)

		
		
		
